<section>
  <div
    class="fixed inset-0 z-10 w-screen overflow-y-auto"
    (click)="detenerCierre($event)"
  >
    <div
      class="content-center sm:flex min-h-full items-cen justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <!-- Evita que el clic se propague al contenedor padre (overlay) -->
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all w-3/4 h-3/4"
        (click)="detenerCierre($event)"
      >
        <!-- detenerCierre(event: MouseEvent): Método que detiene la propagación del evento de clic cuando se hace clic dentro del contenido del modal, asegurando que el modal no se cierre inadvertidamente. -->
        <button
          type="button"
          class="absolute top-0 right-0 px-4 py-3 text-2xl"
          (click)="cerrarDialog()"
        >
          &times;
        </button>
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <!-- Pestañas -->
          <div class="w-[95%] mt-1 h-auto z-10 flex justify-between">
            <div>
              <mat-tab-group
                class="first-custom-tab-group"
                animationDuration="0ms"
                (selectedTabChange)="seleccionarIndex($event)"
              >
                <mat-tab
                  class="text-labels z-10"
                  label="Factor Salario Real"
                ></mat-tab>
                <mat-tab
                  class="text-labels z-10"
                  label="Porcentaje Censantia Edad"
                ></mat-tab>
                <mat-tab class="text-labels z-10" label="Insumos FSR"></mat-tab>
              </mat-tab-group>
            </div>
            <!-- aqui esta -->
            <div class="flex gap-2" *ngIf="!esAutorizado">
              <div>
                <input
                  type="text"
                  [(ngModel)]="nombreProyecto"
                  (input)="reiniciarProyecto($event)"
                  placeholder="Selecciona un proyecto"
                  [formControl]="proyectoControl"
                  [matAutocomplete]="auto"
                  class="border-none rounded-lg bg-gray300 text-gray700 font-medium p-1 lg:w-52 md:w-36 xms:w-28 xs:w-24 xs:text-xs"
                  #textoDataList
                  (click)="reiniciarFiltro()"
                />
                <mat-autocomplete
                  #auto="matAutocomplete"
                  (optionSelected)="selectionChangeProyecto($event)"
                >
                  <mat-option
                    class="mat-option-css"
                    style="
                      font-weight: 500;
                      font-size: 14px;
                      border-radius: 7px;
                    "
                    *ngFor="let proyecto of filteredProyectos | async"
                    [value]="proyecto"
                    >{{ proyecto.nombre }}</mat-option
                  >
                </mat-autocomplete>
              </div>
              <div>
                <button
                  class="bg-colorButton text-[#f2f2f2] rounded-md hover:bg-colorButtonHover transition-colors delay-75 px-6 py-1"
                  (click)="importarFsr()"
                >
                  Importar Fsr
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="selectedIndex == 0">
            <div class="text-center mb-4">
              <h2 class="text-xl font-semibold">Factor Salario Real</h2>
            </div>
            <div
              style="
                overflow-x: auto;
                white-space: nowrap;
                width: 100%;
                margin: 0 auto;
                margin-top: 0px;
              "
            >
              <div class="style-encabezado-ac-act">Días no laborales</div>
              <div
                style="
                  overflow-y: auto;
                  white-space: nowrap;
                  margin: 0 auto;
                  cursor: pointer;
                  max-height: 150px;
                "
              >
                <table
                  class="table table-striped rounded table-hover orden tabla-detalle tabla-detalle-pagos"
                >
                  <thead style="position: sticky; top: 0">
                    <tr class="bg-zinc-400 text-white">
                      <th style="width: 30%">Artículos de ley</th>
                      <th style="width: 20%">Código</th>
                      <th style="width: 30%">Descripción</th>
                      <th style="width: 10%">Días</th>
                      <th style="width: 10%">Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dias of diasConsideradosFsiNoTrabajados">
                      <td style="width: 30%">
                        <input
                          autocomplete="off"
                          type="text"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="dias.articulosLey"
                          (keydown.enter)="crearFSIDias(dias)"
                          maxlength="50"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td style="width: 20%">
                        <input
                          autocomplete="off"
                          type="text"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="dias.codigo"
                          (keydown.enter)="crearFSIDias(dias)"
                          maxlength="15"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td style="width: 30%">
                        <input
                          autocomplete="off"
                          type="text"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="dias.descripcion"
                          (keydown.enter)="crearFSIDias(dias)"
                          maxlength="50"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td style="width: 10%">
                        <input
                          autocomplete="off"
                          type="text"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="dias.valor"
                          (keydown.enter)="crearFSIDias(dias)"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td *ngIf="dias.id != 0 && !existenEstimaciones">
                        <button
                          class="button-filt"
                          placement="start"
                          ngbTooltip="Eliminar"
                          triggers="mouseenter:mouseleave"
                          (click)="EliminarDetFSI(dias)"
                        >
                          <img src="assets/delete.svg" alt="add cotizacion" />
                        </button>
                      </td>
                      <td *ngIf="dias.id == 0 || existenEstimaciones"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="flex w-full justify-end items-center mb-4">
                Días no laborales (DNLA):
                <input
                  autocomplete="off"
                  type="text"
                  class="bg-[#f2f2f2] text-center"
                  id="input-table"
                  [(ngModel)]="diasNoLaborales"
                  readonly
                />
              </div>
            </div>

            <div
              style="
                overflow-x: auto;
                white-space: nowrap;
                width: 100%;
                margin: 0 auto;
                margin-top: 0px;
              "
            >
              <div class="style-encabezado-ac-act">Días pagados</div>
              <div
                style="
                  overflow-y: auto;
                  white-space: nowrap;
                  margin: 0 auto;
                  cursor: pointer;
                  max-height: 150px;
                "
              >
                <table
                  class="table table-striped rounded table-hover orden tabla-detalle tabla-detalle-pagos"
                >
                  <thead style="position: sticky; top: 0">
                    <tr>
                      <th style="width: 30%">Artículos de ley</th>
                      <th style="width: 20%">Código</th>
                      <th style="width: 30%">Descripción</th>
                      <th style="width: 10%">Días</th>
                      <th style="width: 10%">Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dias of diasConsideradosFsiPagados">
                      <td class="body-table" style="width: 30%">
                        <input
                          autocomplete="off"
                          type="text"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="dias.articulosLey"
                          (keydown.enter)="crearFSIDias(dias)"
                          maxlength="50"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td class="body-table" style="width: 20%">
                        <input
                          autocomplete="off"
                          type="text"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="dias.codigo"
                          (keydown.enter)="crearFSIDias(dias)"
                          maxlength="15"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td class="body-table" style="width: 30%">
                        <input
                          autocomplete="off"
                          type="text"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="dias.descripcion"
                          (keydown.enter)="crearFSIDias(dias)"
                          maxlength="50"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td class="body-table" style="width: 10%">
                        <input
                          autocomplete="off"
                          type="text"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="dias.valor"
                          (keydown.enter)="crearFSIDias(dias)"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td *ngIf="dias.id != 0 && !existenEstimaciones">
                        <button
                          class="button-filt"
                          placement="start"
                          ngbTooltip="Eliminar"
                          triggers="mouseenter:mouseleave"
                          (click)="EliminarDetFSI(dias)"
                        >
                          <img src="assets/delete.svg" alt="add cotizacion" />
                        </button>
                      </td>
                      <td *ngIf="dias.id == 0 || existenEstimaciones"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="flex w-full justify-end items-center mb-4">
                Días pagados(DP):
                <input
                  autocomplete="off"
                  type="text"
                  class="bg-[#f2f2f2] w-full border-none"
                  id="input-table"
                  [(ngModel)]="diasPagados"
                  readonly
                  class="bg-[#f2f2f2] text-center"
                />
              </div>
            </div>
            <h2>FSI = DP / (365.25 - DNLA) = {{ fsi.fsi }}</h2>

            <div>
              <label for="">Es compuesto</label>
              <input
                type="checkbox"
                name=""
                id=""
                (change)="EsCompuesto()"
                [(ngModel)]="fsr.esCompuesto"
              />
            </div>

            <div
              style="
                overflow-x: auto;
                white-space: nowrap;
                width: 100%;
                margin: 0 auto;
                margin-top: 0px;
              "
            >
              <div class="style-encabezado-ac-act" *ngIf="!fsr.esCompuesto">
                Obligaciones patronales
              </div>
              <div
                style="
                  overflow-y: auto;
                  white-space: nowrap;
                  margin: 0 auto;
                  cursor: pointer;
                  max-height: 150px;
                "
                *ngIf="!fsr.esCompuesto"
              >
                <table
                  class="table table-striped rounded table-hover orden tabla-detalle tabla-detalle-pagos"
                >
                  <thead style="position: sticky; top: 0">
                    <tr>
                      <th style="width: 30%">Articulos de ley</th>
                      <th style="width: 20%">Código</th>
                      <th style="width: 30%">Descripcion</th>
                      <th style="width: 10%">Porcentaje</th>
                      <th style="width: 10%">Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let detalle of fsrDetalles">
                      <td class="body-table" style="width: 30%">
                        <input
                          autocomplete="off"
                          type="text"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="detalle.articulosLey"
                          (keydown.enter)="crearFSRDetalle(detalle)"
                          maxlength="50"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td class="body-table" style="width: 20%">
                        <input
                          autocomplete="off"
                          type="text"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="detalle.codigo"
                          (keydown.enter)="crearFSRDetalle(detalle)"
                          maxlength="15"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td class="body-table" style="width: 30%">
                        <input
                          autocomplete="off"
                          type="text"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="detalle.descripcion"
                          (keydown.enter)="crearFSRDetalle(detalle)"
                          maxlength="50"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td class="body-table" style="width: 10%">
                        <input
                          autocomplete="off"
                          type="text"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="detalle.porcentajeFsrdetalle"
                          (keydown.enter)="crearFSRDetalle(detalle)"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td *ngIf="detalle.id != 0 && !existenEstimaciones">
                        <button
                          class="button-filt"
                          placement="start"
                          ngbTooltip="Eliminar"
                          triggers="mouseenter:mouseleave"
                          (click)="EliminarDetFSR(detalle)"
                        >
                          <img src="assets/delete.svg" alt="add cotizacion" />
                        </button>
                      </td>
                      <td *ngIf="detalle.id == 0 || existenEstimaciones"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div
                class="flex w-full justify-end items-center"
                *ngIf="!fsr.esCompuesto"
              >
                Porcentaje de obligaciones patronales (%OP):
                <input
                  autocomplete="off"
                  type="text"
                  class="bg-[#f2f2f2] w-full border-none"
                  id="input-table"
                  [(ngModel)]="porcentajePrestaciones"
                  readonly
                  class="bg-[#f2f2f2] text-center"
                />
              </div>
              <div class="style-encabezado-ac-act" *ngIf="fsr.esCompuesto">
                Parametros FSR
              </div>
              <div
                style="
                  overflow-y: auto;
                  white-space: nowrap;
                  margin: 0 auto;
                  cursor: pointer;
                  max-height: 150px;
                "
                *ngIf="fsr.esCompuesto"
              >
                <table
                  class="table table-striped rounded table-hover orden tabla-detalle tabla-detalle-pagos"
                >
                  <thead style="position: sticky; top: 0">
                    <tr>
                      <th style="width: 10%">R.Trabajo</th>
                      <th style="width: 10%">C.Fija</th>
                      <th style="width: 10%">A.Excedente</th>
                      <th style="width: 10%">P.Dinero</th>
                      <th style="width: 10%">G.Medico</th>
                      <th style="width: 10%">I.Vida</th>
                      <th style="width: 10%">Retiro</th>
                      <th style="width: 10%">P.Social</th>
                      <th style="width: 10%">Infonavit</th>
                      <th style="width: 10%">UMA</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="body-table" style="width: 10%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="ParametrosFsrDTO.riesgoTrabajo"
                          (keydown.enter)="crearParametro()"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td class="body-table" style="width: 10%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="ParametrosFsrDTO.cuotaFija"
                          (keydown.enter)="crearParametro()"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td class="body-table" style="width: 10%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="ParametrosFsrDTO.aplicacionExcedente"
                          (keydown.enter)="crearParametro()"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td class="body-table" style="width: 10%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="ParametrosFsrDTO.prestacionDinero"
                          (keydown.enter)="crearParametro()"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td class="body-table" style="width: 10%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="ParametrosFsrDTO.gastoMedico"
                          (keydown.enter)="crearParametro()"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td class="body-table" style="width: 10%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="ParametrosFsrDTO.invalidezVida"
                          (keydown.enter)="crearParametro()"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td class="body-table" style="width: 10%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="ParametrosFsrDTO.retiro"
                          (keydown.enter)="crearParametro()"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td class="body-table" style="width: 10%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="ParametrosFsrDTO.prestaconSocial"
                          (keydown.enter)="crearParametro()"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td class="body-table" style="width: 10%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="ParametrosFsrDTO.infonavit"
                          (keydown.enter)="crearParametro()"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                      <td class="body-table" style="width: 10%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="ParametrosFsrDTO.uma"
                          (keydown.enter)="crearParametro()"
                          [disabled]="existenEstimaciones"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <h2>FSR = FSI + %OP = {{ fsr.porcentajeFsr }}</h2>
          </div>

          <div *ngIf="selectedIndex == 1">
            <div
              style="
                overflow-y: auto;
                white-space: nowrap;
                margin: 0 auto;
                cursor: pointer;
                max-height: 150px;
              "
            >
              <table
                class="table table-striped rounded table-hover orden tabla-detalle tabla-detalle-pagos"
              >
                <thead style="position: sticky; top: 0">
                  <tr class="bg-zinc-400 text-white">
                    <th style="width: 50%">Rango</th>
                    <th style="width: 50%">Porcentaje</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let porcentaje of porcentajesCesantiaEdad">
                    <td style="width: 50%">
                      <input
                        autocomplete="off"
                        type="text"
                        class="bg-[#f2f2f2] w-full border-none"
                        id="input-table"
                        class="w-full bg-transparent"
                        [(ngModel)]="porcentaje.rangoUMA"
                        (keydown.enter)="
                          crearPorcentajeCensantiaEdad(porcentaje)
                        "
                        maxlength="50"
                        [disabled]="existenEstimaciones"
                      />
                    </td>
                    <td style="width: 50%">
                      <input
                        autocomplete="off"
                        type="text"
                        class="bg-[#f2f2f2] w-full border-none"
                        id="input-table"
                        class="w-full bg-transparent"
                        [(ngModel)]="porcentaje.porcentaje"
                        (keydown.enter)="
                          crearPorcentajeCensantiaEdad(porcentaje)
                        "
                        maxlength="15"
                        [disabled]="existenEstimaciones"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div *ngIf="selectedIndex == 2">
            <div
              style="
                overflow-x: auto;
                white-space: nowrap;
                width: 100%;
                margin: 0 auto;
                margin-top: 0px;
              "
            >
              <div
                style="
                  overflow-y: auto;
                  white-space: nowrap;
                  margin: 0 auto;
                  cursor: pointer;
                  max-height: 150px;
                "
              >
                <table
                  class="table table-striped rounded table-hover orden tabla-detalle tabla-detalle-pagos"
                >
                  <thead style="position: sticky; top: 0">
                    <tr>
                      <th style="width: 20%">Insumo</th>
                      <th style="width: 5%">C.Base</th>
                      <th style="width: 5%">C.Unitario</th>
                      <th style="width: 5%">SBC</th>
                      <th style="width: 5%">R.Trabajo</th>
                      <th style="width: 5%">C.Fija</th>
                      <th style="width: 5%">A.Excedente</th>
                      <th style="width: 5%">P.Dinero</th>
                      <th style="width: 5%">G.Medico</th>
                      <th style="width: 5%">I.Vida</th>
                      <th style="width: 5%">Retiro</th>
                      <th style="width: 5%">Censantia</th>
                      <th style="width: 5%">P.Social</th>
                      <th style="width: 5%">Infonavit</th>
                      <th style="width: 5%">S.Prestaciones</th>
                      <th style="width: 5%">SP/SBC</th>
                      <th style="width: 5%">FSR</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let insumo of parametrosXInsumo">
                      <td class="body-table" style="width: 20%">
                        <input
                          autocomplete="off"
                          type="text"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="insumo.descripcion"
                          [disabled]="true"
                        />
                      </td>
                      <td class="body-table" style="width: 5%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="insumo.costoBase"
                          [disabled]="existenEstimaciones"
                          (keydown.enter)="actualizarCostoBaseInsumo(insumo)"
                        />
                      </td>
                      <td class="body-table" style="width: 5%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="insumo.costoUnitario"
                          [disabled]="true"
                        />
                      </td>
                      <td class="body-table" style="width: 5%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="insumo.salarioBaseCotizacion"
                          [disabled]="true"
                        />
                      </td>
                      <td class="body-table" style="width: 5%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="insumo.riesgoTrabajo"
                          [disabled]="true"
                        />
                      </td>
                      <td class="body-table" style="width: 5%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="insumo.cuotaFija"
                          [disabled]="true"
                        />
                      </td>
                      <td class="body-table" style="width: 5%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="insumo.aplicacionExcedente"
                          [disabled]="true"
                        />
                      </td>
                      <td class="body-table" style="width: 5%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="insumo.prestacionDinero"
                          [disabled]="true"
                        />
                      </td>
                      <td class="body-table" style="width: 5%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="insumo.gastoMedico"
                          [disabled]="true"
                        />
                      </td>
                      <td class="body-table" style="width: 5%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="insumo.invalidezVida"
                          [disabled]="true"
                        />
                      </td>
                      <td class="body-table" style="width: 5%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="insumo.retiro"
                          [disabled]="true"
                        />
                      </td>
                      <td class="body-table" style="width: 5%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="insumo.cesantiaEdad"
                          [disabled]="true"
                        />
                      </td>
                      <td class="body-table" style="width: 5%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="insumo.prestaconSocial"
                          [disabled]="true"
                        />
                      </td>
                      <td class="body-table" style="width: 5%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="insumo.infonavit"
                          [disabled]="true"
                        />
                      </td>
                      <td class="body-table" style="width: 5%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="insumo.sumaPrestaciones"
                          [disabled]="true"
                        />
                      </td>
                      <td class="body-table" style="width: 5%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="insumo.sumaSOBRECostoBase"
                          [disabled]="true"
                        />
                      </td>
                      <td class="body-table" style="width: 5%">
                        <input
                          autocomplete="off"
                          type="number"
                          class="bg-[#f2f2f2] w-full border-none"
                          id="input-table"
                          class="w-full bg-transparent"
                          [(ngModel)]="insumo.fsrInsumo"
                          [disabled]="true"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
