<p class="titular-ventana" style="margin: 0 auto; margin-top: 5px;">Configurar Centro de Costos</p>

<p style="font-size: 14px; font-weight: 700; margin-left: 30px;">Nombre del empleado: </p>

<div class="input-group input-group-sm mb-3" style="width: 600px; margin-left: 30px; margin: 0 auto; margin-top: -25px;">
  <label class="input-group-text input-span" style="background-color: #b9dfe9;" for="inputGroupSelect01">Seleccione Centro De Costos</label>
  <select class="form-select input-receptor" id="inputGroupSelect01">
    <option selected>Recursos Humanos MAZA0002-MAZ</option>
    <option value="1">Centro 1</option>
    <option value="2">Centro 2</option>
    <option value="3">Centro 3</option>
  </select>
  <button class="btn-asignar">Asignar</button>
</div>

<div  class="contenedor-tabla">
  <table class="table table-striped rounded table-hover">
    <thead>
      <tr>
        <th class="cabecera" scope="col">Nombre</th>
        <th class="cabecera" scope="col">Código</th>
        <th class="cabecera" scope="col" style="text-align: center;">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>RECURSOS HUMANOS-MAZA0002-MAZA0002</td>
        <td>MAZA0002</td>
        <td style="display: flex; justify-content: center;">
          <div class="form-check form-switch form-check-reverse check-tabla ">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse" style="text-align: start; margin-top: 10px;">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
