<section>
  <div>
    <div>
      <div class="flex mt-1 gap-2">
        <select
          [(ngModel)]="filtroNivel"
          name=""
          id=""
          (input)="seleccionNivel($event)"
          class="block w-full h-auto px-3 py-1.5 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        >
          <option value="">Nivel...</option>
          <option value="Debug">Debug</option>
          <option value="Info">Info</option>
          <option value="Warn">Warn</option>
          <option value="Error">Error</option>
          <option value="Critical">Critical</option>
        </select>

        <div class="">
          <input
            type="text"
            placeholder="Filtro..."
            autocomplete="off"
            class="block w-48 px-3 py-1.5 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            (input)="filtrarXTexto()"
            [(ngModel)]="filtroTexto"
          />
          <!-- <div *ngIf="mostrarListaUsuario">
            <ul
              *ngFor="let usuario of listaUsuarios"
              class="fixed z-50 bg-white border border-gray-200 rounded-md mt-1 w-auto max-h-48 overflow-y-auto shadow-lg"
            >
              <li
                class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                (click)="seleccionarUsuario(usuario)"
              >
                {{ usuario }}
              </li>
            </ul>
          </div> -->
        </div>
        <div>
          <div class="flex" ><input type="checkbox" (change)="filtrarLogs()" [(ngModel)]="filtrarMetodo">Método</div>
          <div class="flex" ><input type="checkbox" (change)="filtrarLogs()" [(ngModel)]="filtrarDescripcion">Descripción</div>
          <div class="flex" ><input type="checkbox" (change)="filtrarLogs()" [(ngModel)]="filtrarDbContext">DbContext</div>
          <div class="flex" ><input type="checkbox" (change)="filtrarLogs()" [(ngModel)]="filtrarUsuario">Usuario</div>
        </div>
        <input
          type="date"
          ngbTooltip="Fecha de inicio"
          [(ngModel)]="fechaInicio"
          (change)="filtrarLogs()"
          class="block w-full h-auto px-3 py-1.5 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        />
        <input
          type="date"
          ngbTooltip="Fecha de termino"
          [(ngModel)]="fechaFin"
          (change)="filtrarLogs()"
          class="block w-full h-auto px-3 py-1.5 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        />
        <div class="flex items-center">
          <button (click)="limpiarFiltros()" class="w-7 h-7">
            <img src="assets/delete filter.svg" alt="botón agregar" />
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="overflow-x-auto shadow-md rounded-lg mt-2">
    <!-- Table container -->
    <div>
      <table class="w-full text-sm xs:table-fixed">
        <thead class="bg-primario text-white">
          <tr class="xs:text-[10px]">
            <th scope="col" class="px-1 py-[2px] xs:w-[75px]">Fecha</th>
            <th scope="col" class="px-[2px] py-[2px] xs:w-[70px]">Nivel</th>
            <th scope="col" class="px-[2px] py-[2px] xs:w-[75px]">Método</th>
            <th scope="col" class="px-[2px] py-[2px] xs:w-[75px]">Descripción</th>
            <th scope="col" class="px-[2px] py-[2px] xs:w-[75px]">DbContext</th>
            <th scope="col" class="px-[2px] py-[2px] xs:w-[70px]">Usuario</th>
            <th scope="col" class="px-[2px] py-[2px] xs:w-[70px]">Empresa</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray300">
          <ng-container>
            <ng-container *ngIf="isLoading">
              <tr>
                <!-- Fecha -->
                <td class="px-1" scope="col">
                  <div role="status" class="max-w-sm animate-pulse">
                    <div
                      class="h-5 bg-gray300 rounded-full w-28 xs:w-14 xs:h-3 mt-1 mb-1"
                    ></div>
                  </div>
                </td>
                <!--Nivel -->
                <td scope="col">
                  <div role="status" class="max-w-sm animate-pulse">
                    <div
                      class="h-5 bg-gray300 rounded-full w-40 xs:w-14 xs:h-3 mt-1 mb-1"
                    ></div>
                  </div>
                </td>
                <!-- Método -->
                <td scope="col">
                  <div role="status" class="max-w-sm animate-pulse">
                    <div
                      class="h-5 bg-gray300 rounded-full w-40 xs:w-14 xs:h-3 mt-1 mb-1"
                    ></div>
                  </div>
                </td>
                <!-- Descripción -->
                <td scope="col">
                  <div role="status" class="max-w-sm animate-pulse">
                    <div
                      class="h-5 bg-gray300 rounded-full w-40 xs:w-14 xs:h-3 mt-1 mb-1"
                    ></div>
                  </div>
                </td>
                <!-- DbContext -->
                <td scope="col">
                  <div role="status" class="max-w-sm animate-pulse">
                    <div
                      class="h-5 bg-gray300 rounded-full w-40 xs:w-14 xs:h-3 mt-1 mb-1"
                    ></div>
                  </div>
                </td>
                <!-- Usuario -->
                <td scope="col">
                  <div role="status" class="max-w-sm animate-pulse">
                    <div
                      class="h-5 bg-gray300 rounded-full w-40 xs:w-14 xs:h-3 mt-1 mb-1"
                    ></div>
                  </div>
                </td>
                <!-- Empresa -->
                <td scope="col">
                  <div role="status" class="max-w-sm animate-pulse">
                    <div
                      class="h-5 bg-gray300 rounded-full w-40 xs:w-14 xs:h-3 mt-1 mb-1"
                    ></div>
                  </div>
                </td>
              </tr>
            </ng-container>
            <tr *ngIf="listaLogsReset.length == 0 && !isLoading" class="xs:hidden">
              <td
                colspan="6"
                class="text-center text-gray-700 font-medium py-1 xs:text-xs"
              >
                No hay auditorías registradas.
              </td>
            </tr>
            <tr
              *ngIf="listaLogsReset.length != 0 && listaLogs.length == 0"
              class="xs:hidden"
            >
              <td
                colspan="6"
                class="text-center text-gray-700 font-medium py-1 xs:text-xs"
              >
                No se encontraron resultados con los filtros seleccionados.
              </td>
            </tr>
            <tr
              class="font-medium text-gray700 hover:bg-gray200 animation duration-200 xs:text-[8px]"
              *ngFor="let log of paginatedLogs"
            >
              <td class="px-1 py-[2px]" scope="col">
                {{ log.fecha | date : "dd/MM/yyyy HH:mm:ss"}}
              </td>
              <td class="px-1 py-[2px]" scope="col">{{ log.nivel }}</td>
              <td class="px-1 py-[2px]" scope="col">
                {{ log.metodo  }}
              </td>
              <td class="px-1 py-[2px]" scope="col">
                {{ log.descripcion }}
              </td>
              <td class="px-1 py-[2px]" scope="col">
                {{ log.dbContext }}
              </td>
              <td class="px-1 py-[2px]" scope="col">
                {{ log.nombreUsuario }}
              </td>
              <td class="px-1 py-[2px]" scope="col">
                {{ log.nombreEmpresa }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
       <div class="flex bg-[#ffffff] justify-end rounded-b-[3px]">
        <div class="flex items-center">
          {{ getPaginationInfo() }}
        </div>
        <nav class="p-2">
          <ul class="flex">
            <li class="flex items-center">
              <a
                class="mx-1 flex h-7 w-7 items-center justify-center rounded-full border border-blue-gray-100 bg-transparent p-0 text-sm text-blue-gray-500 transition duration-150 ease-in-out hover:bg-[#2d748d] cursor-pointer"
                (click)="previousPage()"
                aria-label="Previous"
              >
                <span class="material-icons text-sm">keyboard_arrow_left</span>
              </a>
            </li>
            <li *ngFor="let page of visiblePages" class="flex items-center">
              <a
                class="mx-1 flex h-7 w-7 items-center justify-center rounded-full hover:bg-[#2d748d] cursor-pointer"
                [ngClass]="{
                  'bg-colorButton text-[#ffffff] shadow-md':
                    currentPage === page,
                  'border border-blue-gray-100 bg-transparent text-blue-gray-500 hover:bg-[#2d748d]':
                    currentPage !== page
                }"
                [class.active]="page === currentPage"
                (click)="goToPage(page)"
              >
                {{ page }}
              </a>
            </li>
            <li class="flex items-center">
              <a
                class="mx-1 flex h-7 w-7 items-center justify-center rounded-full border border-blue-gray-100 bg-transparent p-0 text-sm text-blue-gray-500 transition duration-150 ease-in-out hover:bg-light-300 cursor-pointer"
                (click)="nextPage()"
                aria-label="Next"
              >
                <span class="material-icons text-sm">keyboard_arrow_right</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>