<section>
  <div>
    <div>
      <!-- Button cotainer -->
      <div class="flex mt-1 mb-2">
        <button
          (click)="openModal()"
          class="flex align-items-center rounded-md bg-colorButton transition-colors delay-75 hover:bg-colorButtonHover font-light text-white p-1"
        >
          <p
            class="text-[#f2f2f2] titular bg-custom-bg w-52 font-medium text-base tracking-wider m-0 text-center xs:text-[10px] xs:w-24"
          >
            Nueva venta
          </p>
          <img class="xs:w-4" src="assets/add.svg" alt="botón agregar" />
        </button>
      </div>
      <!-- Button cotainer  end -->

      <p class="text-sm font-medium mb-2 text-gray700 xs:text-[10px]">
        Campos obligatorios marcados con <span class="font-bold">*</span>
      </p>
    </div>

    <!-- Table -->
    <div class="overflow-x-auto shadow-md rounded-lg">
      <!-- Table container -->
      <div>
        <table class="w-full text-sm xs:table-fixed">
          <thead class="bg-primario text-white">
            <tr class="xs:text-[10px]">
              <th scope="col" class="px-1 py-[2px] xs:w-[75px]">Venta no.</th>
              <th scope="col" class="px-[2px] py-[2px] xs:w-[70px]">Elaboró</th>
              <th scope="col" class="px-[2px] py-[2px] xs:w-[75px]">
                Registro
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray300">
            <ng-container>
              <tr
                class="font-medium text-gray700 hover:bg-gray200 animation duration-200 xs:text-[8px]"
                *ngFor="let orden of ordenesVenta"
              >
                <td class="px-1 py-[2px]" scope="col">{{orden.numeroOrdenVenta}} </td>
                <td class="px-1 py-[2px]" scope="col">{{orden.elaboro}} </td>
                <td class="px-1 py-[2px]" scope="col">{{orden.fechaRegistro | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<div
  *ngIf="isModalOpen"
  class="fixed inset-0 bg-black bg-opacity-50 z-50 flex items-center justify-center animate-fadeIn"
>
  <div
    class="z-50 bg-gray100 rounded-xl shadow-lg px-6 py-3 w-[50%] h-[90%] relative overflow-auto xs:w-full"
  >
    <div class="flex justify-end items-center">
      <button
        class="text-3xl text-gray500 hover:text-gray700 transition 200ms"
        (click)="closeModal()"
      >
        ×
      </button>
    </div>

    <!-- contenido -->
    <div class="bg-white px-4 pb-4 sm:p-2 sm:pb-4">
      <div>
        <div class="mb-3">
          <label class="block text-sm font-medium text-gray-700" for="almacen"
            >Cliente</label
          >
          <select
            class="form-select mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            [(ngModel)]="ordenVenta.idCliente"
          >
            <option
              class="text-gray-700"
              [ngValue]="0"
              disabled
              selected
              hidden
            >
              Selecciona un Cliente..
            </option>
            <option [ngValue]="cliente.id" *ngFor="let cliente of clientes">
              {{ cliente.razonSocial }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label class="block text-sm font-medium text-gray-700" for="almacen"
            >Observaciones</label
          >
          <textarea
            name=""
            id=""
            [(ngModel)]="ordenVenta.observaciones"
            rows="2"
            class="w-full"
          ></textarea>
        </div>
        <div class="mb-3">
          <button
            (click)="agregarDetalle()"
            class="flex align-items-center rounded-md bg-colorButton transition-colors delay-75 hover:bg-colorButtonHover font-light text-white p-1"
          >
            <p
              class="text-[#f2f2f2] titular bg-custom-bg w-52 font-medium text-base tracking-wider m-0 text-center xs:text-[10px] xs:w-24"
            >
              Agregar Producto
            </p>
            <img class="xs:w-4" src="assets/add.svg" alt="botón agregar" />
          </button>
        </div>
      </div>
      <div>
        <div class="rounded-lg shadow-md overflow-hidden">
          <div class="overflow-x-auto">
            <table class="w-full text-sm xs:table-fixed">
              <thead class="bg-primario text-white">
                <tr class="xs:text-[10px]">
                  <!-- <th class="px-1 py-[2px]" scope="col">Estimacion</th> -->
                  <th class="px-1 py-[2px]" scope="col">Producto/Servicion</th>
                  <th class="px-1 py-[2px]" scope="col">Cantidad</th>
                  <th class="px-1 py-[2px] text-center" scope="col">
                    PrecioUnitario
                  </th>
                  <th class="px-1 py-[2px] text-center" scope="col">
                    Descuento
                  </th>
                  <th class="px-1 py-[2px] text-center" scope="col">Accion</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray300">
                <ng-container
                  *ngFor="let detalle of ordenVenta.detalleOrdenVenta"
                >
                  <tr
                    class="font-medium text-gray700 hover:bg-gray200 animation duration-200 xs:text-[8px]"
                    [ngClass]="{
                      'change-background-color':
                        detalle == selectedDetalleOrdenVenta
                    }"
                  >
                    <!-- <td class="px-1 py-[2px]" scope="col">
                      <input
                        min="1"
                        placeholder="Cantidad..."
                        autocomplete="off"
                        class="dropdown1 bg-transparent w-[75%] xs:w-[100%]"
                        type="number"
                        data-bs-toggle="dropdown"
                        (keydown.enter)="editarDetalle(detalle)"
                        [(ngModel)]="detalle.idEstimacion"
                      />
                    </td> -->
                    <td class="px-1 py-[2px]" scope="col">
                      <input
                        autocomplete="off"
                        class="form-contrtrol dropdown2"
                        id="myInput"
                        type="text"
                        style="margin: 5px"
                        [(ngModel)]="detalle.idProductoYservicio"
                        data-bs-toggle="dropdown"
                        (keyup)="filtrarProducto($event)"
                        (keydown.enter)="editarDetalle(detalle)"
                        style="
                          border: 0.5px solid #ffffff4d;
                          border-radius: 3px;
                          width: 100%;
                          background-color: rgba(0, 0, 0, 0.164);
                        "
                      />
                      <ul
                        class="dropdown-menu"
                        style="z-index: 9999; position: absolute"
                      >
                        <li style="overflow-y: scroll; height: 60px">
                          <option
                            class="option-hover"
                            *ngFor="let producto of productosYServicio"
                            [value]="producto.id"
                            (click)=" detalle.idProductoYservicio = (producto.id)"
                          >
                            {{ producto.codigo }} || {{ producto.descripcion }}
                          </option>
                        </li>
                      </ul>
                    </td>
                    <td class="px-1 py-[2px]" scope="col">
                      <input
                        min="1"
                        placeholder="Cantidad..."
                        autocomplete="off"
                        class="dropdown1 bg-transparent w-[75%] xs:w-[100%]"
                        type="number"
                        data-bs-toggle="dropdown"
                        (keydown.enter)="editarDetalle(detalle)"
                        [(ngModel)]="detalle.cantitdad"
                      />
                    </td>
                    <td class="px-1 py-[2px]" scope="col">
                      <input
                        min="1"
                        placeholder="Cantidad..."
                        autocomplete="off"
                        class="dropdown1 bg-transparent w-[75%] xs:w-[100%]"
                        type="number"
                        data-bs-toggle="dropdown"
                        (keydown.enter)="editarDetalle(detalle)"
                        [(ngModel)]="detalle.precioUnitario"
                      />
                    </td>
                    <td class="px-1 py-[2px]" scope="col">
                      <input
                        min="1"
                        placeholder="Cantidad..."
                        autocomplete="off"
                        class="dropdown1 bg-transparent w-[75%] xs:w-[100%]"
                        type="number"
                        data-bs-toggle="dropdown"
                        (keydown.enter)="editarDetalle(detalle)"
                        [(ngModel)]="detalle.descuento"
                      />
                    </td>
                    <td class="px-1 py-[2px]" scope="col">
                      <div class="flex">
                        <div>
                          <img
                            ngbTooltip="Ver insumos"
                            triggers="mouseenter:mouseleave"
                            class="cursor-pointer mx-auto xs:w-4"
                            src="../../../../assets/visibility_btn.svg"
                            alt="ver insumos"
                            (click)="verImpuestos(detalle)"
                          />
                        </div>
                        <div class="flex">
                          <img
                            (click)="eliminarDetalle(detalle)"
                            src="../../../../assets/authorize_facture.svg"
                            alt=""
                            class="cursor-pointer mx-auto"
                            ngbTooltip="Eliminar"
                            triggers="mouseenter:mouseleave"
                          />
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="impuestosOpen" class="mt-2">
        <div class="rounded-lg shadow-md overflow-hidden">
          <div class="overflow-x-auto">
            <table class="w-full text-sm xs:table-fixed">
              <thead class="bg-primario text-white">
                <tr class="xs:text-[10px]">
                  <th class="px-1 py-[2px]" scope="col">Impuesto</th>
                  <th class="px-1 py-[2px]" scope="col">Factor</th>
                  <th class="px-1 py-[2px]" scope="col">Categoria</th>
                  <th class="px-1 py-[2px] text-center" scope="col">Tasa</th>
                  <th class="px-1 py-[2px] text-center" scope="col">Accion</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray300">
                <ng-container
                  *ngFor="let impuesto of impuestosDetalleOrdenVenta"
                >
                  <tr
                    class="font-medium text-gray700 hover:bg-gray200 animation duration-200 xs:text-[8px]"
                  >
                    <td class="px-1 py-[2px]" scope="col">
                      <input
                        min="1"
                        placeholder="Cantidad..."
                        autocomplete="off"
                        class="dropdown1 bg-transparent w-[75%] xs:w-[100%]"
                        type="number"
                        data-bs-toggle="dropdown"
                        (keydown.enter)="agregarImpuesto(impuesto)"
                        [(ngModel)]="impuesto.idTipoImpuesto"
                      />
                    </td>
                    <td class="px-1 py-[2px]" scope="col">
                      <input
                        min="1"
                        placeholder="Cantidad..."
                        autocomplete="off"
                        class="dropdown1 bg-transparent w-[75%] xs:w-[100%]"
                        type="number"
                        data-bs-toggle="dropdown"
                        (keydown.enter)="agregarImpuesto(impuesto)"
                        [(ngModel)]="impuesto.idTipoFactor"
                      />
                    </td>
                    <td class="px-1 py-[2px]" scope="col">
                      <input
                        min="1"
                        placeholder="Cantidad..."
                        autocomplete="off"
                        class="dropdown1 bg-transparent w-[75%] xs:w-[100%]"
                        type="number"
                        data-bs-toggle="dropdown"
                        (keydown.enter)="agregarImpuesto(impuesto)"
                        [(ngModel)]="impuesto.idCategoriaImpuesto"
                      />
                    </td>
                    <td class="px-1 py-[2px]" scope="col">
                      <input
                        min="1"
                        placeholder="Cantidad..."
                        autocomplete="off"
                        class="dropdown1 bg-transparent w-[75%] xs:w-[100%]"
                        type="number"
                        data-bs-toggle="dropdown"
                        (keydown.enter)="agregarImpuesto(impuesto)"
                        [(ngModel)]="impuesto.tasaCuota"
                      />
                    </td>
                    <td class="px-1 py-[2px]" scope="col">
                      <div class="flex">
                        <img
                          src="../../../../assets/authorize_facture.svg"
                          alt=""
                          class="cursor-pointer mx-auto"
                          ngbTooltip="Eliminar"
                          triggers="mouseenter:mouseleave"
                          (click)="eliminarImpuesto(impuesto)"
                        />
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div
      class="bg-gray-50 px-2 py-2 sm:flex sm:flex-row-reverse sm:px-6 sm:gap-4"
    >
      <button
        class="bg-[#51aec7] hover:bg-[#002B53] text-[#f2f2f2] py-2 px-4 rounded-sm mr-2 mt-3 inline-flex w-full justify-center shadow-sm ring-1 ring-inset sm:mt-0 sm:w-auto"
        (click)="guardarOrdenVenta()"
      >
        Aceptar
      </button>
      <button
        class="mt-3 inline-flex w-full justify-center rounded-sm bg-[#51aec7] text-[#f2f2f2] px-3 py-2 text-sm shadow-sm ring-1 ring-inset hover:bg-[#B05B5B] sm:mt-0 sm:w-auto"
        (click)="closeModal()"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>
