li {
    margin-left: 10px;
    list-style: none;
}

.contenedor-autorizadores {
    border: 2px solid #b9dfe9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 7px;
}

.contenedor-agregar {
    background-color: #b9dfe9;
    padding: 5px;
    margin-right: 10px;
    border-radius: 3px;
}