  <!--Boton que abre el modal-->
  <div style="display: flex; justify-content: center; margin-top: 10px;">
    <button class=" btn-new" type="button" data-bs-toggle="offcanvas" data-bs-target="#agregarDivision" aria-controls="offcanvasExample">
      Agregar División
    </button>
</div>

<!---->
<!--Formulario Agregar División-->
<div class="offcanvas offcanvas-start captura-rapida" tabindex="-1" id="agregarDivision" aria-labelledby="offcanvasExampleLabel">
<div class="offcanvas-header">
  <h3 class="offcanvas-title" id="offcanvasExampleLabel">Nueva División</h3>
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
  <form [formGroup]="form">
  <div class="contenedor-inputs">
      <div>
        <div class="input-group input-group-sm mb-3" style="display: flex;">
          <span class="input-group-text input-span" id="inputGroup-sizing-sm">Nombre</span>
          <input formControlName="nombre" type="text" class="form-control input-modal" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3" style="display: flex;">
          <span class="input-group-text input-span" id="inputGroup-sizing-sm">Código SAP</span>
          <input type="text" formControlName="codigoSAP" class="form-control input-modal" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
      </div>
      <div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text input-span" id="inputGroup-sizing-sm">Registro patronal</span>
          <input formControlName="registroPatronal" type="text" class="form-control input-modal" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="contenedor-check">
          <p class="input-span">Asigna Asiento Contable</p>
          <div class="form-check form-switch form-check-reverse action-check input-receptor input-modal">
            <input formControlName="asignaAC" class="form-check-input" type="checkbox" id="esAcreedor" style="text-align: start; margin-top: 10px;">
          </div>
        </div>
      </div>
  </div>
  </form>
</div>

<div class="button-cerrar" style="display: flex;justify-content: center;">
  <button class="btn btn-captura cancelar" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Cerrar
  </button>
  <button class="btn btn-captura aceptar" type="button" data-bs-toggle="offcanvas" data-bs-dismiss="modal" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" (click)="guardar()">
    Guardar
  </button>
</div>
</div>

<!--Formulario Editar División-->
<div class="offcanvas offcanvas-start captura-rapida" tabindex="-1" id="offcanvasEditar"
  aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h3 class="offcanvas-title" id="offcanvasExampleLabel">Agregar División</h3>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="margin: 0 auto;">
    <div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text input-span">Nombre de la División</span>
        <input type="text" class="input-receptor" aria-label="Sizing example input" [(ngModel)]="divisionEdicion.nombre" >
      </div>
    </div>
    <div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text input-span">Registro Patronal</span>
        <input type="text" class="input-receptor" placeholder="Opcional" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="divisionEdicion.registroPatronal">
      </div>
      <div class="contenedor-check">
        <p class="input-span">Asigna asiento contable</p>
        <div class="form-check form-switch form-check-reverse action-check input-receptor">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse" style="text-align: start; margin-top: 10px;" [(ngModel)]="divisionEdicion.asignaAC">
        </div>
      </div>
    </div>
  </div>
  <div class="button-cerrar" style="display: flex;justify-content: center;">
    <button class="btn btn-captura cancelar" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEditar" aria-controls="offcanvasExample">
      Cerrar
    </button>
    <button class="btn btn-captura aceptar" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEditar" aria-controls="offcanvasExample" (click)="editarDivison()">
      Guardar
    </button>
  </div>
</div>

<!-- Visualización de Divisiones -->
<div class="contenedor-tabla">
    <table class="table table-striped rounded table-hover table-scrool-x">
      <thead>
        <tr>
          <th class="cabecera" scope="col">Nombre</th>
          <th class="cabecera" scope="col">Código SAP</th>
          <th class="cabecera" scope="col">Registro Patronal</th>
          <th class="cabecera" scope="col" style="text-align: center;">Estatus</th>
          <th class="cabecera" style="text-align: center;" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let division of divisiones" >
          <td class="body-table" style="width: 30%;">
            <input type="text" class="form-control form-control-sm" id="input-table" [(ngModel)]="division.nombre" readonly>
          </td>
          <td class="body-table" style="width: 20%;">
            <input type="text" class="form-control form-control-sm" id="input-table" [(ngModel)]="division.codigoSAP" readonly>
          </td>
          <td class="body-table" style="width: 40%;">
            <input type="text" class="form-control form-control-sm" id="input-table" [(ngModel)]="division.registroPatronal" readonly>
          </td>
          <td class="none" style="text-align: center;">
            <div class="form-check form-switch" style="padding: 0px auto; margin: 0 10px; display: flex; justify-content: center;">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked
                  [(ngModel)]="division.estatus" >
              <label class="form-check-label" for="flexSwitchCheckChecked"></label>
            </div>
          </td>
          <td class="" style="width: 5%; text-align: center;">
            <button class="btn-accion" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEditar" aria-controls="offcanvasEditar" (click)="prueba(division)">
              <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
