<div class=" bg-gray-300 rounded-lg m-[0 auto] mb-3 mt-4">
  <div class="flex lg:flex-row flex-col gap-2 justify-center">
    <div class="flex gap-2 justify-center">
      <div class="contenedor-input">
        <p class="place-holder h-20 sm:h-8 w-14 sm:w-28 text-clip overflow-hidden">Año de inicio</p>
        <select class="form-select h-20 sm:h-8" [(ngModel)]="filtroRangoFecha.anioInicio"
          (ngModelChange)="cargarPorRangoFecha()">
          <option *ngFor="let anio of anios" [value]="anio.anio">{{anio.anio}}</option>
        </select>
      </div>
      <div class="contenedor-input">
        <p class="place-holder h-20 sm:h-8 w-14 sm:w-28 text-clip overflow-hidden">Mes de inicio</p>
        <select class="form-select h-20 sm:h-8" [(ngModel)]="filtroRangoFecha.mesInicio"
          (ngModelChange)="cargarPorRangoFecha()">
          <option *ngFor="let mes of meses" [value]="mes.mes">{{mes.mes}}</option>
        </select>
      </div>
    </div>
    <!-- --------------- -->
    <div class="flex gap-2 justify-center">
      <div class="contenedor-input">
      <p class="place-holder h-14 sm:h-8 w-16 sm:w-32 text-clip overflow-hidden">Año de término</p>
      <select class="form-select h-14 sm:h-8" [(ngModel)]="filtroRangoFecha.anioTermino"
        (ngModelChange)="cargarPorRangoFecha()">
        <option *ngFor="let anio of anios" [value]="anio.anio">{{anio.anio}}</option>
      </select>
    </div>
    <div class="contenedor-input"> 
      <p class="place-holder h-14 sm:h-8 w-16 sm:w-32 text-clip overflow-hidden">Mes de término</p>
      <select class="form-select h-14 sm:h-8" [(ngModel)]="filtroRangoFecha.mesTermino"
        (ngModelChange)="cargarPorRangoFecha()">
        <option *ngFor="let mes of meses" [value]="mes.mes">{{mes.mes}}</option>
      </select>
    </div>
    </div>
    
    
  </div>
  <!-- --------------- -->
  <div class="flex justify-center mt-0 mb-3">
    <div class="contenedor-input2" style="margin-right: 10px;">
      <p class="place-holder h-14 sm:h-8 w-20 sm:w-40 text-clip overflow-hidden">Seleccione un año</p>
      <select class="form-select h-14 sm:h-8" [(ngModel)]="filtroPeriodo.anio"
        (ngModelChange)="cargarPorPeriodo()">
        <option *ngFor="let anio of anios" [value]="anio.anio">{{anio.anio}}</option>
      </select>
    </div>
    <div class="contenedor-input2" style="margin-right: 10px;">
      <p class="place-holder h-14 sm:h-8 w-20 sm:w-40 text-clip overflow-hidden">Seleccione un mes</p>
      <select class="form-select h-14 sm:h-8" [(ngModel)]="filtroPeriodo.mes"
        (ngModelChange)="cargarPorPeriodo()">
        <option *ngFor="let mes of meses" [value]="mes.mes">{{mes.mes}}</option>
      </select>
    </div>
  </div>
</div>

<div class="overflow-y-auto overflow-x-auto w-full rounded-lg shadow-md whitespace-nowrap mx-auto mt-[30px]">
  <table class="text-sm w-full mb-0 table table-hover table-arbol">
    <thead class="bg-primario text-white">
      <th class="px-1 py-[2px] w-[7%]">-</th>
      <th class="px-1 py-[2px] w-[19%]">Código</th>
      <th class="px-1 py-[2px] w-[22%]">Descripción</th>
      <th class="px-1 py-[2px] w-[22%]">Saldo inicial</th>
      <th class="px-1 py-[2px] w-[8.7%]">Debe</th>
      <th class="px-1 py-[2px] w-[8.7%]">Haber</th>
      <th class="px-1 py-[2px] w-[13.7%]">Saldo final</th>
    </thead>
  </table>

  <tree-view [treeData]="balanzas">
    <ng-template let-balanza>
      <table class="table table-hover table-arbol">
        <tbody>
          <tr class="font-medium text-gray700 hover:bg-gray200 animation duration-200 xs:text-[8px]" [ngClass]="{
              nivel1: balanza.nivel == 1,
              nivel2: balanza.nivel == 2,
              nivel3: balanza.nivel == 3,
              nivel4: balanza.nivel == 4,
              nivel5: balanza.nivel == 5,
              nivel6: balanza.nivel == 6,
              nivel7: balanza.nivel == 7
              }">
            <td style=" border-right: 1px solid #f2f2f217;" class="cont-drill w-[7%]" [ngClass]="{
              nivel1Margen: balanza.nivel == 1,
              nivel2Margen: balanza.nivel == 2,
              nivel3Margen: balanza.nivel == 3,
              nivel4Margen: balanza.nivel == 4,
              nivel5Margen: balanza.nivel == 5,
              nivel6Margen: balanza.nivel == 6,
              nivel7Margen: balanza.nivel == 7
            }" (click)="seleccionarFila(balanza)" >
              <div class="contenedores" style="display: flex;">
                <div *ngIf="balanza.hijos.length > 0">
                  <button (click)="expansionDominio(balanza)" style="font-size: 12px;" class="button-drill" *ngIf="balanza.nivel <= 7"
                  [ngClass]="{
                    colorButton1: balanza.nivel == 1,
                    colorButton2: balanza.nivel == 2,
                    colorButton3: balanza.nivel == 3,
                    colorButton4: balanza.nivel == 4,
                    colorButton5: balanza.nivel == 5,
                    colorButton6: balanza.nivel == 6,
                    colorButton7: balanza.nivel == 7
                  }"
                  >
                    {{ balanza.expandido ? "▼" : "►" }}
                  </button>
                </div>
                <div *ngIf="balanza.hijos.length <= 0"
                class="buttonNull" style="font-size: 12px;"
                [ngClass]="{
                  button1null: balanza.nivel == 1,
                  button2null: balanza.nivel == 2,
                  button3null: balanza.nivel == 3,
                  button4null: balanza.nivel == 4,
                  button5null: balanza.nivel == 5,
                  button6null: balanza.nivel == 6,
                  button7null: balanza.nivel == 7
                }"
                >
                  - 
                </div> 
              </div>
            </td>
            <td style="border-right: 1px solid #3f3e3e17; width: 19%; border-right: 1px solid #f2f2f217;"
              class="cont-drill">
              {{ balanza.cuentaContableCodigo }}
            </td>
            <td style="border-right: 1px solid #3f3e3e17; width: 22%; border-right: 1px solid #f2f2f217;"
              class="cont-drill">
              {{ balanza.cuentaContableDescripcion }}
            </td>
            <td style="border-right: 1px solid #3f3e3e17; width: 22%; border-right: 1px solid #f2f2f217"
              class="cont-drill text-end">
              ${{ balanza.saldoInicial|number:'1.2-2' }}
            </td>
            <td style="border-right: 1px solid #3f3e3e17; width: 8.7%; border-right: 1px solid #f2f2f217"
              class="cont-drill text-end">
              ${{ balanza.debe|number:'1.2-2' }}
            </td>
            <td style="border-right: 1px solid #3f3e3e17; width: 8.7%; border-right: 1px solid #f2f2f217"
              class="cont-drill text-end">
              ${{ balanza.haber|number:'1.2-2' }}
            </td>
            <td class="cont-drill text-end w-[13.7%]" style="border-right: 1px solid #f2f2f217">
              ${{ balanza.saldoFinal|number:'1.2-2' }}
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </tree-view>

  <table class="text-sm w-full mb-0 table table-hover table-arbol">
    <thead class="bg-primario text-white">
      <th class="px-1 py-[2px] w-[7%]">Totales: </th>
      <th class="px-1 py-[2px] w-[19%]"></th>
      <th class="px-1 py-[2px] w-[22%]"></th>
      <th class="px-1 py-[2px] w-[22%] text-end">$0.00</th>
      <th class="px-1 py-[2px] w-[8.7%] text-end">${{debe|number:'1.2-2'}}</th>
      <th class="px-1 py-[2px] w-[8.7%] text-end">${{haber|number:'1.2-2'}}</th>
      <th class="px-1 py-[2px] w-[13.7%] text-end">$0.00</th>
    </thead>
  </table>

</div>