<div class="overflow-x-auto shadow-md rounded-lg">
    <table class="w-full text-sm xs:table-fixed">
        <thead class="bg-primario text-white">
            <tr class="xs:text-[10px]">
                <th class="px-1 py-[2px] xs:w-[75px]" scope="col">Tipo</th>
                <th class="px-1 py-[2px] xs:w-[75px]" scope="col">Fecha de Registro</th>
                <th class="px-1 py-[2px] xs:w-[75px]" scope="col">Cantidad</th>
                <th class="px-1 py-[2px] xs:w-[75px]" scope="col">Es Consumible</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            <tr *ngFor="let IDE of detallesExistencia" class="font-medium text-gray-700 hover:bg-gray-200 transition-colors duration-200 xs:text-[8px]">
                <td class="" scope="col" >{{IDE.tipoExistencia}}</td>
                <td class="" scope="col">{{IDE.fechaRegistro | date:"dd-MM-yyyy"}}</td>
                <td class="" scope="col">{{IDE.cantidadInsumos | number:'1.4-4' }}</td>
                <td class="" scope="col">{{IDE.esNoConsumible ? "Si" : "No"}}</td>
            </tr>
        </tbody>
    </table>
  </div>