



<mat-card style="margin: 20px 40px 40px 40px">
  <br />
  <div class="flex ml-2">
    <button (click)="nuevoCorporativo()" class="bg-[#51aec7] hover:bg-hoverButton titular items-center bg-custom-bg flex font-bold tracking-wider m-0 text-center rounded-lg">
      <p class="  text-[#f2f2f2] titular bg-custom-bg w-52  font-bold tracking-wider  m-0 text-center">Nuevo corporativo</p><img src="assets/add.svg" alt="">
    </button>
  </div>
  <br />
  <mat-divider></mat-divider>
  <br />
  <mat-card-content class="dashboard-card-content">
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="aplicarFiltroTabla($event)" #input />
    </mat-form-field>
    <div class="overflow-y-auto overflow-x-auto w-full rounded-lg shadow-md whitespace-nowrap mx-auto">
      <table class="text-sm w-full mb-0">
        <thead class="bg-primario text-white">
          <tr>
            <th class="px-1 py-[2px] xs:w-[75px]" >Nombre completo</th>
            <th class="px-1 py-[2px] xs:w-[75px]" >Estado</th>
            <th class="px-1 py-[2px] xs:w-[75px]" >Acciones</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="isLoading">
            <tr>
            <!-- Nombre Completo -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-40 xs:w-14 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Estado -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-24 xs:w-24 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Acciones -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-14 xs:w-14 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
          </tr>
          <tr>
            <!-- Nombre Completo -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-40 xs:w-14 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Estado -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-24 xs:w-24 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Acciones -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-14 xs:w-14 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
          </tr>
          <tr>
            <!-- Nombre Completo -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-40 xs:w-14 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Estado -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-24 xs:w-24 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Acciones -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-14 xs:w-14 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
          </tr>
          </ng-container>
          <tr *ngFor="let corporativo of dataListaCorporativos2" class="font-medium text-gray700 hover:bg-gray200 animation duration-200 xs:text-[8px]" >
            <td>{{ corporativo.nombre }}</td>
            <td>{{ corporativo.estatus == 1 ? "Activo" : "No activo" }}</td>
            <td>
              <button (click)="editarCorporativo(corporativo)" color="primary">
                <mat-icon>edit</mat-icon>
              </button>
              <button color="warn" (click)="eliminarCorporativo(corporativo)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </mat-card-content>
</mat-card>
