<section>
  <div class="bg-white w-full px-4 py-4 rounded-md">
    <div class="flex justify-between items-center">
      <button
        (click)="close()"
        class="text-left text-sm hover:bg-gray-200 rounded-md transition-all delay-75 flex gap-2 items-center font-medium text-gray-700 px-2"
      >
        <img class="w-8" src="assets/go_back.svg" alt="Regresar" />
        Regresar
      </button>

      <div class="flex justify-end gap-3 items-center">
        <button
          class="flex gap-2 items-center bg-white hover:bg-gray-100 rounded-md text-gray-700 transition-colors px-3 py-2 font-medium border border-gray-300"
        >
          <img src="./assets/edit-gray.svg" alt="" class="w-4" />
          Editar
        </button>
        <select
          id="countries"
          class="bg-white border border-[#929292] text-gray-700 font-medium text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-3 py-2 w-32"
        >
          <option selected disabled>Descargar</option>
          <option value="US">Excel</option>
          <option value="CA">PDF</option>
        </select>
        <button
          class="flex gap-2 items-center bg-primario rounded-md text-white transition-colors px-3 py-2"
        >
          <img src="./assets/print-white.svg" alt="" class="w-4" />
          Imprimir
        </button>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-3 mt-3">
    <div class="bg-white p-6 rounded-lg col-span-2">
      <div class="flex flex-col gap-4">
        <div class="flex justify-between">
          <p class="m-0 text-2xl">Logo</p>

          <div class="flex flex-col justify-end">
            <p class="m-0 text-md font-medium text-gray-500">
              Orden de compra: <span class="text-black">DD/MM/AAAA</span>
            </p>
            <p class="m-0 text-md font-medium text-gray-500">
              Fecha: <span class="text-black">DD/MM/AAAA</span>
            </p>
          </div>
        </div>

        <div class="h-px w-full bg-[#c5c5c5]"></div>

        <div class="flex justify-between">
          <div>
            <p class="m-0 text-md font-medium text-gray-500">
              Empresa: <span class="text-black">Teckio S.A. de C.V.</span>
            </p>
            <p class="m-0 text-md font-medium text-gray-500">
              Ciudad: <span class="text-black">Metepec</span>
            </p>
            <p class="m-0 text-md font-medium text-gray-500">
              Domicilio: <span class="text-black">Calle Leona Vicario</span>
            </p>
            <p class="m-0 text-md font-medium text-gray-500">
              RFC: <span class="text-black">XAXX010101000</span>
            </p>
          </div>
          <div>
            <p class="m-0 text-md font-medium text-gray-500">
              Cliente: <span class="text-black">Grupo rfácil S.A. de C.V.</span>
            </p>
            <p class="m-0 text-md font-medium text-gray-500">
              Ciudad: <span class="text-black">Metepec</span>
            </p>
            <p class="m-0 text-md font-medium text-gray-500">
              Domicilio: <span class="text-black">Leona Vicario</span>
            </p>
            <p class="m-0 text-md font-medium text-gray-500">
              RFC: <span class="text-black">XAXX010101000</span>
            </p>
          </div>
        </div>

        <table class="w-full border border-gray-400 rounded-lg overflow-hidden">
          <thead class="text-center bg-gris">
            <tr>
              <th class="py-3 px-3 font-medium"></th>
              <th class="py-3 font-medium">Código</th>
              <th class="py-3 font-medium">Descripción</th>
              <th class="py-3 font-medium">Unidad</th>
              <th class="py-3 font-medium">Cantidad</th>
              <th class="py-3 px-1 font-medium"></th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-300 bg-white">
            <tr class="font-medium text-gray-700 hover:bg-gris duration-200 text-center">
              <td class="py-3">1</td>
              <td class="py-3">87563HERS</td>
              <td class="py-3">Lorem ipsum dolor at...</td>
              <td class="py-3">Pza</td>
              <td class="py-3">00</td>
              <td class="py-3"></td>
            </tr>
            <tr class="font-medium text-gray-700 hover:bg-gris duration-200 text-center">
              <td class="py-3">2</td>
              <td class="py-3">87563HERS</td>
              <td class="py-3">Lorem ipsum dolor at...</td>
              <td class="py-3">Pza</td>
              <td class="py-3">00</td>
              <td class="py-3"></td>
            </tr>
            <tr class="font-medium text-gray-700 hover:bg-gris duration-200 text-center">
              <td class="py-3">3</td>
              <td class="py-3">87563HERS</td>
              <td class="py-3">Lorem ipsum dolor at...</td>
              <td class="py-3">Pza</td>
              <td class="py-3">00</td>
              <td class="py-3"></td>
            </tr>
          </tbody>
        </table>

        <div class="grid grid-cols-3 gap-2">
          <div class="w-full h-full col-span-2">
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900"
              >Observaciones</label
            >
            <textarea
              id="message"
              rows="4"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gris rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
              placeholder="Descripción (opcional)"
            ></textarea>
          </div>
          <div class="col-span-1 gap-1 w-full text-right">
            <p class="m-0 text-md font-medium text-gray-500">
              Monto de la factura: <span class="text-black">$000,000.00</span>
            </p>
            <p class="m-0 text-md font-medium text-gray-500">
              Monto de descuento: <span class="text-black">$000,000.00</span>
            </p>
            <p class="m-0 text-md font-medium text-gray-500">
              Amortización: <span class="text-black">$000,000.00</span>
            </p>
            <p class="m-0 text-md font-medium text-gray-500">
              Fondo de garantía: <span class="text-black">$000,000.00</span>
            </p>
            <p class="m-0 text-md font-medium text-gray-500">
              Subtotal: <span class="text-black">$000,000.00</span>
            </p>
            <p class="m-0 text-md font-medium text-gray-500">
              IVA: <span class="text-black">$000,000.00</span>
            </p>
            <p class="m-0 text-md font-medium text-gray-900">
              Total: <span class="text-black">$000,000.00</span>
            </p>
            <p class="m-0 text-md font-medium text-gray-900">
              Neto a pagar: <span class="text-black">$000,000.00</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white p-6 rounded-lg col-span-1">
      <div class="flex flex-col gap-4">
        <div class="w-full rounded-md bg-green-50 flex items-center p-3 gap-2">
          <img src="./assets/info-green.svg" alt="Info icon" />
          <p class="m-0 text-md font-medium text-green-900">Estatus de pago</p>
        </div>
        <div class="h-px w-full bg-[#c5c5c5]"></div>
        <div class="flex justify-end gap-5">
          <p class="m-0 text-3xl font-medium">$000,000.00</p>
          <select
            id="countries"
            class="bg-gris border border-[#929292] text-[#929292] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-3 py-2 w-28"
          >
            <option selected disabled>Pagado</option>
            <option value="US">Pendiente</option>
            <option value="CA">Cancelado</option>
          </select>
        </div>
        <div class="h-px w-full bg-[#c5c5c5]"></div>
        <div class="w-full text-right flex flex-col gap-2">
          <p class="m-0 text-md font-semibold">
            Creado por: <span class="font-normal">cflores@procomi.com</span>
          </p>
          <p class="m-0 text-md font-semibold ">
            Fecha de pago: <span class="font-normal">DD/MM/AAAA</span>
          </p>
           <p class="m-0 text-md font-semibold ">
            Método de pago: <span class="font-normal">Transferencia</span>
          </p>
          <p class="m-0 text-md font-semibold ">
            Tipo de moneda: <span class="font-normal">Pesos(MXN)</span>
          </p>
          <p class="m-0 text-md font-semibold ">
            No. de cuenta: <span class="font-normal">00000000</span>
          </p>
          <p class="m-0 text-md font-semibold ">
            Banco: <span class="font-normal">Banamex</span>
          </p>
          <p class="m-0 text-md font-semibold ">
            Sucursal: <span class="font-normal">00000000</span>
          </p>
          <p class="m-0 text-md font-semibold ">
            Cheque: <span class="font-normal">00000000</span>
          </p>


        </div>
      </div>
    </div>
  </div>
</section>
