<div class="fixed inset-0 z-10 w-screen overflow-y-auto" (click)="cerrar()">
    <div class="content-center sm:flex min-h-full items-cen justify-center p-4 text-center sm:items-center sm:p-0">
      <!-- Evita que el clic se propague al contenedor padre (overlay) -->
  
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-4xl"
        (click)="detenerCierre($event)">
        <!-- detenerCierre(event: MouseEvent): Método que detiene la propagación del evento de clic cuando se hace clic dentro del contenido del modal, asegurando que el modal no se cierre inadvertidamente. -->
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <div class="overflow-x-auto shadow-md rounded-lg">
                <table class="w-full text-sm xs:table-fixed">
                    <thead class="bg-primario text-white">
                        <tr class="xs:text-[10px]">
                            <th scope="col" class="px-1 py-[2px] xs:w-[75px]">Seleccionar</th>
                            <th scope="col" class="px-1 py-[2px] xs:w-[75px]">Descripción</th>
                            <th scope="col" class="px-1 py-[2px] xs:w-[75px]">Unidad</th>
                            <th scope="col" class="px-1 py-[2px] xs:w-[75px]">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray300">
                        <tr *ngFor="let PU of empleadoPrecioUnitario" class="font-medium text-gray700 hover:bg-gray200 animation duration-200 xs:text-[8px]" 
                            [ngClass]="">
                            <td scope="col"><input type="checkbox" id="vehicle3" name="vehicle3" value="Boat"
                              [(ngModel)]="PU.seleccionado"></td>
                            <td scope="col">{{PU.descripcion}}</td>
                            <td scope="col">{{PU.unidad}}</td>
                            <td scope="col">{{PU.cantidadConFormato}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bg-gray-50 px-2 py-2 sm:flex sm:flex-row-reverse sm:px-6 sm:gap-4">
          <button
            class="bg-[#51aec7] hover:bg-[#002B53] text-[#f2f2f2]  py-2 px-4 rounded-sm mr-2 mt-3  inline-flex w-full justify-center shadow-sm ring-1 ring-inset  sm:mt-0 sm:w-auto"
            (click)="asignarPrecioUnitario()">Aceptar</button>
          <button
            class="mt-3 inline-flex w-full justify-center rounded-sm bg-[#51aec7] text-[#f2f2f2] px-3 py-2 text-sm shadow-sm ring-1 ring-inset  hover:bg-[#B05B5B] sm:mt-0 sm:w-auto  "
            (click)="cerrar()">Cancelar</button>
        </div>
  
      </div>
    </div>
  </div>