<div class="flex justify-between">
  <div>
    <mat-form-field style="margin-left: 10px; margin-top: 20px;">
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Fecha inicial">
        <input matEndDate formControlName="end" placeholder="Fecha final">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancelar</button>
          <button mat-button matDateRangePickerCancel (click)="limpiarFiltro()">Limpiar</button>
          <button mat-raised-button color="primary" (click)="clickButtonFiltro()" matDateRangePickerApply>Filtrar</button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>
  </div>

  <div class="flex justify-end items-end">

    <div class="flex flex-row bg-white shadow-sm rounded-t-lg p-1 items-end">
        <div
          class="flex items-center justify-center flex-shrink-0 h-10 w-10 rounded-xl bg-[#4eaac138] text-[#4eaac1]">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
            </path>
          </svg>
        </div>
        <div class="flex flex-col flex-grow ml-4">
          <div class="text-sm text-[#6b7280]">Total</div>
          <div class="font-bold text-base"><span>{{totalConFormato}}</span></div>
        </div>
      </div>
  </div>
</div>


<section class="flex w-full" *ngIf="objetoDestajoTotal.contratistas.length > 0">
  <div style=" overflow-x: auto; white-space: nowrap; width: 55%; margin: 0 auto;">
    <table class="table table-striped rounded table-hover orden tabla-detalle tabla-detalle-pagos">
      <thead>
        <tr>
          <th colspan="5" class="style-encabezado-ac-act">Destajistas</th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th>Razon Social</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contratista of objetoDestajoTotal.contratistas" (click)="verConceptos(contratista.id)" [ngClass]="{'change-background-color' : contratista.id == changeColor}">
          <td scope="col" > <input class="w-full bg-transparent" type="text" [ngModel]="contratista.razonSocial"
            [disabled]="contratista.id == changeColor"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="overflow-x: scroll; white-space: nowrap; width: 70%; margin: 0 auto; margin-top: 0px;" class="flex">
    <table class="table table-striped rounded table-hover orden tabla-detalle tabla-detalle-pagos"
      *ngFor="let periodo of objetoDestajoTotal.periodos">
      <thead>
        <tr>
          <th colspan="5" class="style-encabezado-ac-act">
            <div class="flex justify-between">
              <div class="items-center">
                {{periodo.descripcionPeriodo}}
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <thead>
        <tr style="overflow-x: auto; white-space: nowrap;">
          <th class="cabecera1" scope="col">Avance</th>
          <th class="cabecera1" scope="col">Importe</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let total of periodo.totales" [ngClass]="{'change-background-color' : total.idContratista == changeColor}">
          <td>
            {{total.avanceConFormato}}
          </td>
          <td>
            {{total.importeConFormato}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style=" overflow-x: auto; white-space: nowrap; width: 15%; margin: 0 auto;">
    <table class="table table-striped rounded table-hover orden tabla-detalle tabla-detalle-pagos">
      <thead>
        <tr>
          <th colspan="5" class="style-encabezado-ac-act">Importe total</th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let importe of objetoDestajoTotal.contratistas">
          <td scope="col" [ngClass]="{'change-background-color' : importe.id == changeColor}">
            <input type="text" class="w-full bg-transparent" [ngModel]="importe.importeConFormato" disabled>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</section>

<section *ngIf="contratistaSeleccionado">
  <app-acumulado *appRecarga="appRecarga" [parametros]="parametrosConceptos"></app-acumulado>

</section>
