
td {
  border: .5px solid #b4b1b175;
  padding: 0 10px;
  height: 5px;
}
/* th {
  background-color: #21416e;
  height: 1px;
  color: #f2f2f2;
  border: 1px solid #4e4c4c54;
  padding: 0 10px;
} */
/* .td-0 {
  padding: 0;
  background-color: #fffefe;
  border: .5px solid #ffffff85;
} */
.contenedor-input{
  display: flex;
}

.labelProyecto {
  background-color: #4EAAC1;
  color: #f2f2f2;
  /* margin-right: -4px; */
  padding: 1px 20px;
  border-start-start-radius: 5px;
  border-end-start-radius: 5px;
}

.dropdown {
  width: 70%;
   background-color: #4eaac138;
  border: none;
  padding: 1px 4px;
  /* width: 12vw; */
  border-radius: 0 3px 3px 0;
}



.select-destajo {
  line-height: normal;
  width: 100%;
  box-sizing: border-box;
  padding-right: 30px; /* Espacio para la flecha */
  border: none;
}

.select-destajo-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-destajo-wrapper::after {
  content: '▼'; /* Flecha */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Para que la flecha no interfiera con el clic */
}
.opcion-destajos{
  background-color: #f2f2f2;
  color: #000;
}
.input-fecha{
  width: 100%;
  border: none;
  background-color: transparent;
}


input[type="date"] {
  display:block;
  position:relative;
  /* padding:1rem 3.5rem 1rem 0.75rem; */
  padding:0.1rem 1rem 0.1rem 1rem;
  
  font-size:1rem;
  font-family:monospace;
  
  border-radius:0.25rem;
  background-color: transparent;
  background:
  transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E")
    right 1rem
    center
    no-repeat;
    
  
  cursor:pointer;
}
input[type="date"]:focus {
  outline:none;
  border-color: transparent;
  box-shadow:0 0 0 0.25rem rgba(0, 120, 250, 0.1);
}
::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover,
::-webkit-datetime-edit-year-field:hover {
  background:transparent;
}
::-webkit-datetime-edit-text {
  opacity:0;
}
::-webkit-clear-button,
::-webkit-inner-spin-button {
  display:none;
}
::-webkit-calendar-picker-indicator {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  right:0;
  bottom:0;
  opacity:0;
  cursor:pointer;
    
    color: #51aec7;
    background:#51aec7;
 
}

input[type="date"]:hover::-webkit-calendar-picker-indicator { opacity:0.05; }
input[type="date"]:hover::-webkit-calendar-picker-indicator:hover { opacity:0.15; }


#radio-buttons {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.radio-label {
  display: flex;
  align-items: center;
}

.radio-label input[type="radio"] {
  margin-right: 0.5rem;
}

.text-zinc-400 {
  color: #718096; /* Se asume que el color zinc-400 es #718096 */
}
/* .buttons-fn{
  border: none;
  background-color: #4eaac150;
} */
.contenedor-button{
  /* flex-wrap: 1; */
  /* flex-basis: auto; */
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  border-radius: 3px;
}

.contenedor-button :hover{
  color: #4eaac1;
}








/**/
/*--------------filtrado--------------*/

.cont-filtro {
    background-color: #115a9f27;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 7px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .contenedor-input {
    display: flex;
    align-items: center;
    margin: 5px;
    gap: 10px;
  }
  
  .contenedor-input2 {
    display: flex;
    align-items: center;
  }
  
  .cont-filt1 {
    display: flex;
    justify-content: center;
  }
  
  .form-select {
    width: 80px;
  }
  
  .btn-proyecto {
    background-color: #4EAAC1;
    border: none;
    border-radius: 3px;
    color: #f2f2f2;
    font-size: 16px;
  }
  
  .option-hover {
    margin: 3px;
  }
  
  .option-hover:hover {
    background-color: #4eaac169;
  }
  
  .contenedorpestanas {
    width: 95%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: -7px;
  }
  
  .button-pestanas {
    width: 77px;
    margin-right: 3px;
    border: none;
    background-color: #D4E3F0;
    border-radius: 7px 7px 0 0;
  }
  
  .button-pestanas:hover {
    background-color: #4EAAC1;
  }
  
  .button-importar {
    border: none;
    border-radius: 3px;
    background-color: #4EAAC1;
    color: #f2f2f2;
    margin-left: 10px;
  }
  
  .button-importar:hover {
    background-color: #002B53;
  }
  
  .cont-filt2 {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-right: 10px;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
  }
  
  .flex-container > .divFormulario {
    /* background-color: #f1f1f1; */
    background-color: white;
    margin: 5px;
    text-align: center;
    line-height: 50%;
    font-size: 30px;
    border: 1px solid;
  }
  
  .flex-container > .divTabla {
    /* background-color: #f1f1f1; */
    background-color: white;
    margin: 5px;
    text-align: center;
    line-height: 50%;
    font-size: 30px;
  }
  
  h4{
    background-color: rgb(180, 199, 231);
    padding: 15px;
    color:#f1f1f1;
  }
  
  .panelOpciones{
    padding: 0px;
    background-color: white;
  }
  
  .tablaPanelOpciones{
    background-color: white;
    border: none;
    width: 100%;
    text-align: left;
  }
  
  .tablaPanelOpciones > th{
    background-color: white;
    border: none;
    width: 20%;
    text-align: left;
  }
  
  .panel100{
    width: 100%;
    background-color: white;
    margin: 5px;
    text-align: center;
    line-height: 50%;
    font-size: 30px;
  }
  
  .panel75 {
    width: 75%;
    background-color: white;
    margin: 5px;
    text-align: center;
    line-height: 50%;
    font-size: 30px;
  }
  
  .inputEnTabla{
    min-height: 46px;
    width: 100%;
    border: none;
  }
  
  .TextboxPopup{
    width: 99%;
    background-color: white;
    margin: 5px;
    /* text-align: center; */
    line-height: 50%;
  }
  
  .botonesFormulario {
    float: right;
    right: 3%;
  
  }
  
  .button-accion {
    display: flex;
    justify-content: center;
    border: none;
    margin-left: 5px;
    padding: 0 10px;
    width: 5px;
    height: 10px;
    background-color: #f2f2f267;
    border-radius: 1px;
  }
  
  .button-accion:hover {
    background-color: #f2f2f2bd;
    border-radius: 1px;
  }
  
  .example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  .contenedorNivelT {
    margin: 0 auto;
  }
  
  .cont-infoN {
    align-items: center;
    margin-right: 10px;
  }
  
  .cont-infoN p {
    font-family: 14px;
    font-weight: 500;
    text-align: center;
  }
  
  .niveles-info {
    width: 40px;
    height:40px;
    border-radius: 7px;
  }
  
  
  .nivel1{
    padding-left: 0px;
  }
  
  .nivel2{
    padding-left: 5px;
  }
  
  .nivel3{
    padding-left: 10px;
  }
  .nivel4{
    padding-left: 15px;
  }
  
  .nivel5{
    padding-left: 20px;
  }
  
  .nivel6{
    padding-left: 25px;
  }
  
  .nivel7{
    padding-left: 30px;
  }
  
  
  /*--------Opción 2----------*/
  
  .nivel1Margen{
    padding-left: 0.1%;
  }
  .nivel2Margen{
    padding-left: 0.6%;
  }
  .nivel3Margen{
    padding-left: 1.1%;
  }
  .nivel4Margen{
    padding-left: 1.6%;
  }
  .nivel5Margen{
    padding-left: 2.1%;
  }
  .nivel6Margen{
    padding-left: 2.6%;
  }
  .nivel7Margen{
    padding-left: 3.1%;
  }
  
  .table {
    width: 100%;
    margin: 0 auto;
  }
  
  .table-padre {
    background-color: #f5fcff;
    border-bottom: solid 2px #32b3eb;
  }
  
  .table-hijo {
   
    border-bottom: solid 2px #eb3832;
  }
  
  .table-hijo2 {
    background-color: #c0d4db;
    border-bottom: solid 2px #32eb85;
  }
  
  ul {
  list-style: none;
  }
  
  .desplegar {
    color: #000000;
    border-radius: 7px;
    border: none;
    position: relative;
    border-bottom: #c0d4db00;
  }
  
  .desplegar:hover {
    border-bottom: 1px solid #32b3eb;
  }
  
  .expand-collapse {
    cursor: pointer;
  }
  
  /*-----------------Tabla con esquema de árbol----------------*/
  .none {
    display: none;
  }
  
  .cabecera {
    background-color: #7A8DA8;
    color: #f2f2f2;
    padding: 1px;
    font-size: 14px;
    font-weight: 600;
  }
  
  .cabecera2 {
    background-color: #7A8DA8;
    color: #f2f2f2;
    font-size: 12px;
    font-weight: 600;
  }
  
  .cont-drill {
    border-right: 1px solid #f2f2f2b2;
    padding: 1px ;
  }
  
  .body-table {
    padding: 1px;
    border: 1px solid #f2f2f2b2;
  }
  
  .button-accion {
    display: flex;
    justify-content: center;
    border: none;
    margin-left: 5px;
    padding: 0 10px;
    width: 30px;
    height: 20px;
    background-color: #f2f2f267;
    border-radius: 1px;
  }
  
  .button-accion:hover {
    background-color: #0084fffa;
    border-radius: 1px;
  }
  
  .titular-tabla {
    background-color: #4EAAC1;
    width: 200px;
    margin-bottom: -3px;
    color: #f2f2f2;
    border-radius: 3px 3px 0 0;
    padding: 5px;
  }
  
  .cont-arbol {
    width: 95%;
    white-space: nowrap;
    margin: 0 auto;
    overflow: auto;
    height: 70vh;
  }
  
  .dropdown1 {
    background-color: #4eaac138;
    border: none;
    /* width: 12vw; */
    min-width: 12vw;
    border-radius: 0 3px 3px 0;
  }
  .style-encabezado-ac-act{
    background-color: #4eaac138;
    padding: 1px 20px;
    color: #767676;
    text-align: center;
    border-top: 1.5px solid #ffffff;
    border-left: 1.5px solid #ffffff;
    border-right: 1.5px solid #ffffff;    
    font-weight: 500;   
 
  }
  .lista{
    overflow: scroll;
    width: 100%;
      height: 20vh;
    /* width: 12vw; */
    overflow-x: hidden;
  }
  
  .dropdown2 {
    background-color: #4eaac138;
    border: none;
    border-radius: 0 3px 3px 0;
  }
  
  .labelProyecto1 {
    background-color: #4EAAC1;
    color: #f2f2f2;
    /* margin-right: -4px; */
    padding: 1px 20px;
    border-start-start-radius: 5px;
    border-end-start-radius: 5px;
  }
  
  
  .select-proyect {
    border: none;
    border-radius: 3px;
    background-color: #D4E3F0;
  }
  
  .cont-tabla-center {
    width: 95%;
    margin: 0 auto;
  }
  
  .titulo-arbol-center {
    width: 100%;
  }
  
  .cont-arbol2 {
    width: 95%;
    white-space: nowrap;
    margin: 0 auto;
    overflow: auto;
  }
  
  .cont-tabla {
    width: 95%;
    white-space: nowrap;
    margin: 0 auto;
  }
  
  .cont-tabla3 {
    width: 95%;
    white-space: nowrap;
    margin: 0 auto;
    overflow: 30vh;
  }
  
  .table-arbol {
    width: 100%;
    margin: 0 auto;
  }
  
  .place-holder {
    background-color: #4EAAC1;
    padding: 8px;
    margin-top: 10px;
    color: #f2f2f2;
    border-radius: 7px 0 0 7px;
  }
  
  .form-select {
    border-radius: 0 7px 7px 0;
    padding: 5px;
    margin-bottom: 2px;
  }
  
  .titulo-arbol {
    width: 100%;
    position: sticky;
    top: 0;
  }
  
  .titulo-arbol2 {
    width: 100%;
  }
  
  .titulo-arbol3 {
    width: 100%;
    position: sticky;
    top: 0;
  }
  
  .contenedorFiltro {
    margin-bottom: 5px;
  }
  
  .icon-search {
    background-color: #32b3eb;
    border-radius: 3px 0 0 3px;
    padding: 0 10px;
  }
  
  .input-buscar {
    background-color: #D4E3F0;
    border: none;
    padding: 0 10px;
    border-radius: 0 3px 3px 0;
  }
  
  /*----------Ventana Flotante-----------*/
  .resizable-container {
    width: 95%;
    height: 100px;
    border-bottom: 5px solid #0202022d;
    overflow: hidden; /* Para ocultar el contenido que se desborda durante el redimensionamiento */
    resize: vertical; /* Configura el redimensionamiento vertical */
    cursor: ns-resize; /* Cambia el cursor al icono de redimensionamiento vertical */
    position: relative; /* Para posicionar correctamente el contenido dentro del contenedor */
    margin: 0 auto;
    padding-bottom: 7px;
    background-color: #ffffff5d;
  }
  
  .floating-window {
    top: 50px;
    left: 50px;
    width: 200px;
    height: 150px;
    border: 2px solid #333;
    resize: both;
    overflow: hidden;
    cursor: move;
    width: 95%;
    margin: 0 auto;
  }
  
  .floating-window:hover {
    cursor: move;
  }
  
  .floating-window:hover::before,
  .floating-window:hover::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #333;
  }
  
  .floating-window:hover::before {
    top: 0;
    left: 0;
    cursor: nwse-resize;
  }
  
  .floating-window:hover::after {
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
  }
  
  .cabecera-static {
      width: 5%;
  }
  
  /*-----------------------Doble pantalla-------------------*/
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .flex {
    display: block;
  }
  
  .buttoncerrar {
    background-color: #a4d7e4a1;
    border-radius: 3px;
    border: none;
    padding: 1px;
  }
  
  .buttoncerrar:hover {
    background-color: #A4D7E4;
  }
  
  .contenedor2 {
    height: 90vh;
    border-left: 1px solid #32b3eb;
  }
  
  /*---------------Estilos spinner---------------------------*/
  /* .contenedor-ventana {
    margin-top: -500px;
  }
  
  .ventana-bloque {
    background-color: #f3f3f3d7;
    width: 100%;
    height: 110%;
    position: fixed;
    margin-top: -500px;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
  } */
  
  .contenedor-spinner {
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0000007e;
    width: 100%;
    height: 100vh;
    position: fixed !important;
    z-index: 10000;
    top: 0;
  }
  
/*   
  @media screen and (max-height:858px) {
    .contenedor-spinner {
      margin-top: -700px;
    }
  } */
  
  
  @media screen and (max-width:1874) {
    .cont-arbol {
      width: 99%;
      white-space: nowrap;
      margin: 0 auto;
      overflow: auto;
      height: 70vh;
    }
  
    .titulo-arbol {
      width: 1850px;
    }
  
    .titulo-arbol2 {
      width: 1850px;
    }
  }
  
  @media screen and (max-width: 1581px) {
    .cabecera-static {
      width: 70px;
    }
  }
  
  
  @media screen and (max-width: 1475px){
    .cont-arbol {
      width: 95%;
      white-space: nowrap;
      margin: 0 auto;
      overflow: auto;
      height: 70vh;
    }
  
    .titulo-arbol {
      width: 1850px;
    }
  
    .input-table {
      border: none;
    }
  
    #input-table {
      border: 0;
      background-color: #f2feff00;
    }
    
    #input-table:hover {
      border: 0;
      background-color: #7a7a7a1a;
    }
    
    #select-table{
      border: 0;
      background-color: #f2feff00;
    }
  }
  
  @media screen and (max-width: 1455px) {
    .cabecera-static {
      width: 90px;
    }
  }
  
  @media screen and (max-width: 1199px) {
    .cabecera-static {
      width: 120px;
    }
  }
  
  @media screen and (max-width: 993px) {
    .cabecera-static {
      width: 180px;
    }
  }
  
  @media screen and (max-width: 785px) {
    .cabecera-static {
      width: 300px;
    }
  }
  
  .concepto {
    background-color: #ffffff;
    color: black;
    font-weight: 600;
  }
  
  /*-----------------------------------------*/
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .selected {
    background-color: #979191;
  }
  
  .button1 {
    background-color: #4EAAC1;
    color: #f2f2f2;
    border: none;
    padding: 5px;
    border-radius: 7px;
  }
  
  .button1:hover {
    background-color: #22416E;
  }
  
  #displayName:disabled {
    background: white;
    color: black;
  }
  
  .esSeleccionado{
    background-color: #9ebbfac9;
    color: white;
  }
  
  .derecha{
    right: 0%;
  }
  
  .esPorcentajeManoObra{
    color: blue;
  }



  .my-custom-select {
    /* Estilos personalizados */
    width: 50%; /* Ancho completo */
    padding: 0.5rem; /* Espaciado interno */
    font-size: 1rem; /* Tamaño de fuente */
    border-radius: 0.25rem; /* Radio del borde */
    border: 1px solid #d1d5db; /* Borde */
    background-color: #ffffff; /* Color de fondo */
    color: #000000; /* Color del texto */

  }






  /* **************************** */


  .custom-container {
    display: flex;
    align-items: center;
    border: 1px solid #A4D7E4;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  .custom-header {
    padding: 0.5rem;
    background-color: #4EAAC1;
  }
  
  .custom-header span {
    color: #f2f2f2;

  }
  
  .custom-select {
    flex: 1;
    padding: 0.5rem;
    border: none;
    outline: none;
  }



  .example-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .example-full-width {
    width: 100%;
  }

  /* ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #4EAAC1;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    border-radius: 0.5rem;
    border: 1px solid red;
    background-color: aqua;
  }

 
  ::ng-deep  .mat-mdc-form-field-infix{
    padding-top:0px !important;
    padding-bottom:0px !important;
  }

  ::ng-deep .mat-mdc-form-field-infix{
    min-height: 0px;
  } */


  /* ////////////////////estilos de la tabla////////////////////// */
  .contenedor-section{
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin: 10px;
  }
.contenedor-inputsc{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Dos columnas con un ancho mínimo de 200px */
  grid-auto-rows: auto; /* Altura automática para las filas */
  gap: 10px; /* Espacio entre elementos */
  
}
.contenedor-inputc{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}



/* Estilos para el campo de entrada */
.input-field {
 pointer-events: none;
 background-color: transparent;
border-radius: 5px;
justify-content: center;
text-align: center;
padding: 0.2rem 0.3rem;
}



.inputs-data{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  gap: 10px;
}




/* ///////data inputs */


/* body {
  font-size:16px;
  padding:3rem;
  background:#f1f1f4;
} */

input[type="date"] {
  display:block;
  position:relative;
  /* padding:1rem 3.5rem 1rem 0.75rem; */
  padding:0.1rem 1rem 0.1rem 1rem;
  
  font-size:1rem;
  font-family:monospace;
  
  border:1px solid #8292a2;
  border-radius:0.25rem;
  background:
    white
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E")
    right 1rem
    center
    no-repeat;
  
  cursor:pointer;
}
input[type="date"]:focus {
  outline:none;
  border-color:#b9dfe9;
  box-shadow:0 0 0 0.25rem rgba(0, 120, 250, 0.1);
}
::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover,
::-webkit-datetime-edit-year-field:hover {
  background:rgba(0, 120, 250, 0.1);
}
::-webkit-datetime-edit-text {
  opacity:0;
}
::-webkit-clear-button,
::-webkit-inner-spin-button {
  display:none;
}
::-webkit-calendar-picker-indicator {
  position:absolute;
  width:2.5rem;
  height:100%;
  top:0;
  right:0;
  bottom:0;
  opacity:0;
  cursor:pointer;
    
    color: #51aec7;
    background:#51aec7;
 
}

input[type="date"]:hover::-webkit-calendar-picker-indicator { opacity:0.05; }
input[type="date"]:hover::-webkit-calendar-picker-indicator:hover { opacity:0.15; }






.contenedor-field {
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 10px;
  width: 100%;
}
.legend{
    font-weight: 200;
    font-size: 1rem;
    margin-bottom: 0;
   
}


.contenedor-selecp{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cero{
  background-color: white;
}

.mayorCeroMenorCien{
  background-color: #909CAD;
}

.cien{
  background-color: #C3CFEB;
}


/* //////////////////////////// */


.custom-button {
  background-color: #dc3545; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none; /* Sin borde */
  padding: 1px 10px; /* Padding interno */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s; /* Transición suave para el cambio de color */
}

.custom-button img {
  width: 15px; /* Tamaño de la imagen */
}

/* Estilos para cuando el cursor está sobre el botón */
.custom-button:hover {
  background-color: #c82333; /* Nuevo color de fondo al pasar el cursor */
}


.button-container {
  position: relative;
  display: inline-block;
}

.button mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  background-color: #51aec7;
  color: white;
  font-weight: 400;
  border-radius: 0.3rem;
  border: none;
  padding: 0.2rem 2rem;
  cursor: pointer;
  max-width: 200px;
}

.button:hover {
  background-color: #b9dfe9;
}

.button[disabled] {
  background-color: #c7c7c7; /* Color de fondo para el estado deshabilitado */
  cursor: not-allowed; /* Cursor específico para el estado deshabilitado */
}

.alert-container {
  position: fixed;
  bottom: 20px; /* Ajusta según sea necesario */
  left: 20px; /* Ajusta según sea necesario */
  z-index: 1000; /* Asegura que la alerta esté por encima de otros elementos */
}