/*-------------------css plazas-----------------*/
.btn-new {
  background-color: #4EAAC1;
  color: #f2f2f2;
  border: none;
  border-radius: 3px;
}

.captura-rapida {
  width: 96%;
  height: 320px;
  position: fixed;
  margin-top: 94px;
  border-radius: 0px 15px 15px 0px;
  backdrop-filter: blur(10px);
}

.offcanvas-title {
  font-weight: 700;
}

.contenedor-boolean {
  display: flex;
  background-color: blue;
}

.contenedor-boolean {
  margin-right: 20px;
}

.input-span {
  width: 300px;
  height: 30px;
  background-color: #9DB1CA;
  color: #f2f2f2;
  padding: 0px;
  border-radius: 3px 0 0 3px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.input-receptor {
  background-color: #E7FDFF;
  border: 1px solid #9db1ca93;
  border-radius: 3px;
  height: 30px;
  margin-right: 10px;
  width: 270px;
}

.contenedor-inputs {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0 auto;
}

.contenedor-check {
  display: flex;
  justify-content: start;
  align-items: center;
}

.action-check {
  background-color: #E7FDFF;
  width: 200px;
  display: flex;
  justify-content: center;
  height: 30px;
  margin-top: -10px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #9db1ca93;
}

.check-tabla {
  padding: 0;
  margin-top: -7px;
}

.contenedor-tabla {
  width: 95%;
  margin:10px auto;
  margin-top: -10px;
}

.cabecera {
  background-color: #21416e;
  padding: 2px;
  color: #f2f2f2;
  font-size: 400;
  border: 1px solid #f2f2f24f;
}

td {
  padding: 2px;
  border: 1px solid #f2f2f24f;
}

.btn-accion {
  border: none;
  background-color: #e7fdff94;
  border-radius: 3px;
  margin-right: 10px;
}

.btn-accion:hover {
  background-color: #E7FDFF;
}

.cont-input-buscar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: -10px;
}

.input-buscar {
  border: none;
  border-radius: 0px 3px 3px 0;
  padding: 9px 30px;
  background-color: #C9D0D2;
  height: 23px;
}

.label-buscar {
  color: #f2f2f2;
  background-color: #4EAAC1;
  border-radius: 3px 0 0 3px;
  height: 23px;
  padding: 0  10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-buscar:hover {
  background-color: #22416E;
  color: #f2f2f2;
}
.btn-captura {
  background-color: #4EAAC1;
  color: #f2f2f2;
  margin-bottom: 10px;
  padding: 0px;
  margin-right: 10px;
  width: 150px;
}

.cancelar:hover {
  background-color: #B05B5B;
}

.aceptar:hover {
  background-color: #002B53;
}

.input-agrupador {
  display: flex;
}

@media (max-width: 1220px) {
  .input-span {
    width: 150px;
  }
  
  .input-receptor {
    width: 150px;
  }
}

@media (max-width: 672px) {
  .contenedor-inputs {
    grid-template-columns: 1fr;
  }

  .contenedor-input {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 20px;
  }
}