<section class="m-2">

    <div class="flex justify-end">
    
        <button class=" flex gap-1 bg-colorButton text-[#f2f2f2] rounded-sm hover:bg-hoverButton" (click)="abrirDialogoFormulario()">
            <img src="assets/cuentaContable.svg" alt="" style="width: 22px; height: 22px; ">
            Agregar Cuenta Bancaria
          
        </button>
    
      </div>
    <div style="overflow-x: auto; white-space: nowrap; width: 100%; margin: 0 auto; margin-top: 0px;">
        <table class="table table-striped rounded table-hover orden tabla-detalle tabla-detalle-pagos">
          <thead>
            <tr>
              <th class="cabecera1" scope="col">Banco</th>
              <th class="cabecera1" scope="col">Numero Sucursal</th>
              <th class="cabecera1" scope="col">Numero Cuenta</th>
              <th class="cabecera1" scope="col">Cuenta Clave</th>
              <th class="cabecera1" scope="col">Fecha Creacion</th>
  


            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="td-0" scope="col">96C7518A</td>
              <td class="td-0" scope="col">E</td>
              <td class="td-0" scope="col">27</td>
              <td class="td-0" scope="col">01</td>
              <td class="td-0" scope="col">28/08/2024</td>
       
            </tr>
            <tr>
                <td class="td-0" scope="col">96C7518A</td>
                <td class="td-0" scope="col">E</td>
                <td class="td-0" scope="col">27</td>
                <td class="td-0" scope="col">01</td>
                <td class="td-0" scope="col">28/08/2024</td>
     
              </tr>
      
          </tbody>
        </table>
      </div>

</section>