body {
  overflow: hidden;
}

* {
  font-family: "Roboto", sans-serif;
}

.main_content {
  width: 100%;
  height: calc(100vh - 52px);
  background: #f2f2f2;
}

.header {
  justify-content: space-between;
  /* Cambia el color de fondo según tus preferencias */
  color: white; /* Cambia el color del texto según tus preferencias */
  display: flex; /* Hace que los elementos dentro del header se alineen en línea */
  align-items: center; /* Centra verticalmente los elementos dentro del header */
  padding: 0px 10px; /* Añade un relleno alrededor del contenido del header */
}

.header button {
  background-color: transparent; /* Hace que el botón sea transparente */
  border: none; /* Quita el borde del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  color: #f2f2f2;
}

.header span {
  margin-right: auto; /* Empuja los elementos a la izquierda del header hacia la izquierda */
}
.sidenav-container {
  width: 100%;
  height: calc(100vh - 52px);
}

.select-proyect {
  border: none;
  border-radius: 7px;
  background-color: #ffffffdf;
  color: #020202d3;
  font-weight: 500;
  padding: 5px;
  width: 200px;
  border: none;
}

.select-proyect:hover {
  background-color: #bec3ca;
}

::ng-deep .tooltip {
  --bs-tooltip-bg: #d6d3d3 !important;
  --bs-tooltip-color: rgb(0, 0, 0) !important;
}
.dropdown {
  width: 100%;
  color: #020202d3;
  background-color: #ffffffdf;
  border: none;
  font-weight: 500;
  padding: 5px;
  /* width: 12vw; */
  border-radius: 7px;
}

.sidenavmenu {
  z-index: 1 !important;
}

::ng-deep .mat-option-css {
  min-height: 25px !important;
}
::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  white-space: nowrap !important;
}
::ng-deep .mat-pseudo-checkbox-checked::after {
  opacity: 0 !important;
}
::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  ) {
  background-color: #0000000a !important;
}
::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text {
  color: #020202d3 !important;
}

.labelProyecto {
  background-color: #4eaac1;
  color: #f2f2f2;
  /* margin-right: -4px; */
  padding: 5px 20px;
  border-start-start-radius: 5px;
  border-end-start-radius: 5px;
}

.contenedor-spinner {
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0000007e;
  width: 100%;
  height: 100vh;
  position: fixed !important;
  z-index: 10000;
  top: 0;
}
