<section class="mt-1">
  <div class="p-2">
    <div class="overflow-x-auto shadow-md rounded-lg">
      <table class="w-full text-sm xs:table-fixed">
        <thead class="bg-primario text-white">
          <tr>
            <th class="px-1 py-[2px] xs:w-[75px]" scope="col">Banco</th>
            <th class="px-[2px] py-[2px] xs:w-[70px]" scope="col">
              Número Sucursal
            </th>
            <th class="px-[2px] py-[2px] xs:w-[75px]" scope="col">
              Número Cuenta
            </th>
            <th class="px-[2px] py-[2px] xs:w-[75px]" scope="col">
              Cuenta Clabe
            </th>
            <th class="px-[2px] py-[2px] xs:w-[75px]" scope="col">
              Fecha Creación
            </th>
            <th class="px-[2px] py-[2px] xs:w-[75px]" scope="col">
              Tipo Moneda
            </th>
            <th
              class="px-[2px] py-[2px] xs:w-[75px]"
              scope="col"
              *ngIf="this.IdContratistaInput == 0 && this.IdClienteInput == 0"
            >
              Accion
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray300">
          <ng-container *ngIf="isLoading">
            <tr>
            <!-- Banco -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-24 xs:w-14 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Número Sucursal -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-24 xs:w-24 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Número Cuenta -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-28 xs:w-24 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Cuenta Clave -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-28 xs:w-28 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Fecha Creación -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-32 xs:w-22 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Tipo Moneda -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-14 xs:w-14 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
          </tr>
          <tr>
            <!-- Banco -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-24 xs:w-14 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Número Sucursal -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-24 xs:w-24 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Número Cuenta -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-28 xs:w-24 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Cuenta Clave -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-28 xs:w-28 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Fecha Creación -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-32 xs:w-22 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Tipo Moneda -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-14 xs:w-14 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
          </tr>
          <tr>
            <!-- Banco -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-24 xs:w-14 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Número Sucursal -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-24 xs:w-24 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Número Cuenta -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-28 xs:w-24 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Cuenta Clave -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-28 xs:w-28 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Fecha Creación -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-32 xs:w-22 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Tipo Moneda -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-14 xs:w-14 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
          </tr>
          </ng-container>
          <tr
            *ngFor="let cuentaBancaria of cuentasBancarias"
            class="font-medium text-gray700 hover:bg-gray200 animation duration-200 xs:text-[8px]"
          >
            <td class="px-1 py-[2px]" scope="col">
              {{ cuentaBancaria.nombreBanco }}
            </td>
            <td class="px-1 py-[2px]" scope="col">
              {{ cuentaBancaria.numeroSucursal }}
            </td>
            <td class="px-1 py-[2px]" scope="col">
              {{ cuentaBancaria.numeroCuenta }}
            </td>
            <td class="px-1 py-[2px]" scope="col">
              {{ cuentaBancaria.clabe }}
            </td>
            <td class="px-1 py-[2px]" scope="col">
              {{ cuentaBancaria.fechaAlta | date : "dd-MM-yyyy" }}
            </td>
            <td class="px-1 py-[2px]" scope="col">
              {{
                cuentaBancaria.tipoMoneda == 1
                  ? "MXN"
                  : cuentaBancaria.tipoMoneda == 2
                  ? "USD"
                  : "EUR"
              }}
            </td>
            <td
              class="px-1 py-[2px]"
              scope="col"
              *ngIf="this.IdContratistaInput == 0 && this.IdClienteInput == 0"
            >
              <button
                (click)="abrirModalCCEmpresa(cuentaBancaria)"
                ngbTooltip="Asignar Cuenta Contable"
                placement="top"
                triggers="mouseenter:mouseleave"
                class="bg-[#51aec7] hover:bg-hoverButton h-auto titular items-center bg-custom-bg flex font-bold tracking-wider m-0 text-center"
              >
                <img src="assets/add.svg" alt="" />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
