<!-- <div class="container-button">
    
  <button class="btn-autorizar" (click)="verTodos()" *ngIf="todos">
      Mostrar Todos
  </button>

</div> -->
<div>
  <p class="text-center font-semibold text-lg xs:text-sm">Insumos</p>
  <div class="p-[7px] bg-transparent">
    <div class="rounded-lg shadow-md overflow-hidden">
      <div class="overflow-x-auto">
        <table class="w-full text-sm">
          <thead class="bg-primario text-white">
            <tr class="xs:text-[10px]">
              <th class="px-1 py-[2px] md:hidden lg:hidden" scope="col"></th>
              <th class="px-1 py-[2px] xs:w-[70px]" scope="col">Descripcion</th>
              <th class="px-[2px] py-[2px]" scope="col">Unidad</th>
              <th class="px-[2px] py-[2px]" scope="col">Cantidad</th>
              <th class="px-[2px] py-[2px]" scope="col">P.U.</th>
              <th class="px-[2px] py-[2px]" scope="col">Sin IVA</th>
              <th class="px-[2px] py-[2px]" scope="col">Con IVA</th>
              <th class="px-[2px] py-[2px] text-center xs:hidden" scope="col">
                Estatus
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray300">
            <tr *ngIf="insumosXordencompras.length == 0">
              <td
                class="text-center font-medium text-gray700 hover:bg-gray200 animation duration-200 py-1 xs:text-[8px]"
                scope="col"
                colspan="7"
              >
                No hay insumos comprados.
              </td>
            </tr>
            <ng-container *ngFor="let ioc of insumosXordencompras">
              <tr
                class="font-medium text-gray700 hover:bg-gray200 animation duration-200 xs:text-[8px]"
              >
                <td class="md:hidden lg:hidden" scope="col">
                  <img
                    (click)="desplegarInformacion(ioc)"
                    *ngIf="ioc.isExpanded"
                    src="../../../../assets/arrow_down.svg"
                    alt="icono de flecha abrir"
                  />
                  <img
                    (click)="desplegarInformacion(ioc)"
                    *ngIf="!ioc.isExpanded"
                    src="../../../../assets/arrow_right.svg"
                    alt="icono de flecha cerrar"
                  />
                </td>
                <td class="px-1 py-[2px]" scope="col">
                  <input
                    readonly
                    autocomplete="off"
                    type="text"
                    class="bg-transparent w-[90%]"
                    [(ngModel)]="ioc.descripcion"
                  />
                </td>
                <td class="px-1 py-[2px]" scope="col">
                  {{ ioc.unidad }}
                </td>
                <td class="px-1 py-[2px]" scope="col">
                  {{ ioc.cantidad }}
                </td>
                <td class="px-1 py-[2px]" scope="col">
                  {{ ioc.precioUnitario }}
                </td>
                <td class="px-1 py-[2px]" scope="col">
                  {{ ioc.importeSinIva }}
                </td>
                <td
                  class="px-1 py-[2px]"
                  scope="col"
                  (click)="verImpuestos(ioc.id)"
                >
                  {{ ioc.importeConIva }}
                </td>
                <td class="px-1 py-[2px] xs:hidden" scope="col">
                  <!-- {{ ioc.estatusInsumoOrdenCompraDescripcion }} -->
                  <div class="flex justify-center h-full">
                    <div
                      class="bg-amber50 rounded-lg w-28 h-5"
                      *ngIf="
                        ioc.estatusInsumoOrdenCompraDescripcion === 'Pendiente'
                      "
                    >
                      <p class="text-amber500 text-center">Pendiente</p>
                    </div>
                    <div
                      class="bg-blue100 rounded-lg w-48 h-5"
                      *ngIf="
                        ioc.estatusInsumoOrdenCompraDescripcion ===
                        'Surtida parcialmente'
                      "
                    >
                      <p class="text-blue600 text-center">
                        Surtido parcialmente
                      </p>
                    </div>
                    <div
                      class="bg-green100 rounded-lg w-48 h-5"
                      *ngIf="
                        ioc.estatusInsumoOrdenCompraDescripcion ===
                        'Surtida totalmente'
                      "
                    >
                      <p class="text-green600 text-center">
                        Surtido totalmente
                      </p>
                    </div>
                  </div>
                </td>
              </tr>
              <tr
                class="font-medium text-gray700 hover:bg-gray200 animation duration-200 xs:text-[8px]"
                *ngIf="ioc.isExpanded"
              >
                <td class="px-1 py-[2px]" scope="col" colspan="7">
                  <div class="flex gap-1">
                    <label class="font-bold">Estatus insumos surtidos: </label>
                    <td class="px-1 py-[2px]" scope="col" colspan="7">
                      <!-- {{ ioc.estatusInsumoOrdenCompraDescripcion }} -->
                      <div class="flex justify-center h-full">
                        <div
                          class="bg-amber50 rounded-lg w-28 h-5"
                          *ngIf="
                            ioc.estatusInsumoOrdenCompraDescripcion ===
                            'Pendiente'
                          "
                        >
                          <p class="text-amber500 text-center">Pendiente</p>
                        </div>
                        <div
                          class="bg-blue100 rounded-lg w-48 h-5"
                          *ngIf="
                            ioc.estatusInsumoOrdenCompraDescripcion ===
                            'Surtida parcialmente'
                          "
                        >
                          <p class="text-blue600 text-center">
                            Surtido parcialmente
                          </p>
                        </div>
                        <div
                          class="bg-green100 rounded-lg w-48 h-5"
                          *ngIf="
                            ioc.estatusInsumoOrdenCompraDescripcion ===
                            'Surtida totalmente'
                          "
                        >
                          <p class="text-green600 text-center">
                            Surtido totalmente
                          </p>
                        </div>
                      </div>
                    </td>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Panel de Impuestos -->
<ng-template #dialogImpuestos>
  <div
    class="fixed inset-0 z-10 w-screen overflow-y-auto"
    (click)="limpiarFormularioNuevaEntrada()"
  >
    <div
      class="content-center sm:flex min-h-full items-cen justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <!-- Evita que el clic se propague al contenedor padre (overlay) -->

      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-4xl"
        (click)="detenerCierre($event)"
      >
        <!-- detenerCierre(event: MouseEvent): Método que detiene la propagación del evento de clic cuando se hace clic dentro del contenido del modal, asegurando que el modal no se cierre inadvertidamente. -->
        <div class="m-2 flex justify-between">
          <h2 class="font-normal tracking-[2px] leading-8 text-base">
            Impuestos
          </h2>
          <button
            type="button"
            class="leading-none absolute top-0 right-0 px-4 py-3 text-2xl"
            (click)="limpiarFormularioNuevaEntrada()"
          >
            &times;
          </button>
        </div>
        <div class="bg-white px-4 pb-4 sm:p-2 sm:pb-4">
          <div>
            <div
              style="
                overflow-x: auto;
                white-space: nowrap;
                width: 100%;
                margin: 0 auto;
                margin-top: 0px;
                margin-top: 15px;
              "
            >
              <table
                class="table table-striped rounded table-hover orden tabla-detalle tabla-detalle-pagos"
              >
                <thead>
                  <tr>
                    <th class="cabecera1" scope="col">Tipo de Impuesto</th>
                    <th class="cabecera1" scope="col">Procentaje</th>
                    <th class="cabecera1" scope="col">Importe</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let iioc of impuestoInsumoOrdenCompra">
                    <td class="" scope="col">{{ iioc.descripcionImpuesto }}</td>
                    <td class="" scope="col">{{ iioc.porcentaje }}</td>
                    <td class="" scope="col">{{ iioc.importe }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
