<div class="" *ngIf="empleadoPrecioUnitarioReset.length > 0">
    <label class="labelProyecto1">Proyecto</label>
    <input autocomplete="off" class="form-contrtrol dropdown1" id="myInput" type="text" placeholder="Buscar"
      style="margin: 5px;" data-bs-toggle="dropdown" (keyup)="filtrarProyecto($event)"
      [(ngModel)]="nombreProyecto">
    <ul class="dropdown-menu">
      <li>
        <option class="option-hover" *ngFor="let proyecto of proyectos" [value]="proyecto.id"
          (click)="cambiarProyecto(proyecto)">{{proyecto.nombre}}</option>
      </li>
    </ul>
  </div>
<div style="overflow-x: auto; white-space: nowrap; width: 100%; margin: 0 auto; margin-top: 0px;">
    <table class="table table-striped rounded table-hover orden tabla-detalle tabla-detalle-pagos m-0">
        <thead>
            <tr>
                <th scope="col">Proyecto</th>
                <th scope="col">Codigo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Unidad</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let PU of empleadoPrecioUnitario" [ngClass]="">
                <td scope="col">{{PU.nombreProyceto}}</td>
                <td scope="col">{{PU.codigo}}</td>
                <td scope="col">{{PU.descripcion}}</td>
                <td scope="col">{{PU.unidad}}</td>
                <td scope="col">{{PU.cantidadConFormato}}</td>
            </tr>
        </tbody>
    </table>
</div>