


<section>




  <div class="formulario">
    <div class="cont-formulario"  style="margin-top: 10px;">
      <mat-label>Corporativos</mat-label>
      <mat-select  class="bg-[#ffffff]" (valueChange)="cambiaCorporativo($event)">
        <mat-option *ngFor="let corporativo of corporativos" [value]="corporativo.id">{{ corporativo.nombre }}</mat-option>
      </mat-select>
    </div>
    <div class="cont-formulario"  style="margin-top: 10px;">
      <mat-label>Empresas</mat-label>
      <mat-select class="bg-[#ffffff]" (valueChange)="cambiaEmpresa($event)">
        <mat-option *ngFor="let empresa of empresas" [value]="empresa.id">
          {{ empresa.nombreComercial }}
        </mat-option>
      </mat-select>
    </div>
</div>



<div class="flex gap-2">

  <div class="contenedor-tabla"
  style="overflow-x: auto; white-space: nowrap; width: 95%; margin: 0 auto; ">
  <table class="table table-striped rounded table-hover orden  tabla-detalle-pagos">
      <thead>
          <tr>
            <th class="text-center"  scope="col">Menú</th>
            <th class="text-center" scope="col">Activar</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let registro of dataMenu">
            <td class="text-center">{{ registro.descripcion}}</td>
            <td>
              <div class="form-check form-switch" style="padding: 0px auto;">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [(ngModel)]="registro.esAutorizado" (change)="autorizaMenu(registro)">
                <label class="form-check-label" for="flexSwitchCheckChecked"></label>
              </div>
            </td>
          </tr>
      </tbody>
  </table>
  </div>

  <div  *ngIf="dataSeccionFiltrado.length > 0" class="contenedor-tabla"
  style="overflow-x: auto; white-space: nowrap; width: 95%; margin: 0 auto; margin-top: 0px;">
  <table class="table table-striped rounded table-hover orden tabla-detalle tabla-detalle-pagos">
      <thead>
        <tr>
          <th class="text-center" scope="col">Permisos</th>
          <th class="text-center" scope="col">Activar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro of dataSeccionFiltrado" >
          <td class="text-center"  (click)="cargarRegistrosActividades(registro.idSeccion)">{{
            registro.descripcion}}
          </td>
          <td >
            <div class="form-check form-switch" style="padding: 0px auto;">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked
                [(ngModel)]="registro.esAutorizado">
              <label class="form-check-label" for="flexSwitchCheckChecked"></label>
            </div>
          </td>
        </tr>
      </tbody>
  </table>
  </div>
</div>



</section>
