<!--Boton que abre el formulario de nuevo cliente-->
<button
  type="button"
  class="input-text btn-val"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
  style="margin-top: 10px; padding: 0 10px"
>
  Nuevo Cliente
</button>

<!-- Despliegue de tabla de clientes -->
<div class="cont-table orden-compra">
  <table class="table table-striped rounded table-hover orden">
    <thead>
      <tr>
        <th class="cabecera" style="width: 15%" scope="col">Razón Social</th>
        <th class="cabecera" style="width: 14%" scope="col">RFC</th>
        <th class="cabecera" style="width: 14%" scope="col">Telefono</th>
        <th class="cabecera" style="width: 14%" scope="col">Email</th>
        <th class="cabecera" style="width: 15%" scope="col">
          Representante Legal
        </th>
        <th class="cabecera" style="width: 14%" scope="col">Forma de Pago</th>
        <th class="cabecera" style="width: 14%" scope="col">Direccion</th>
        <th class="cabecera" style="width: 14%" scope="col">N. Exterior</th>
        <th class="cabecera" style="width: 15%" scope="col">Codigo Postal</th>
        <th class="cabecera" style="width: 15%" scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td class="none" style="width: 15%">
          {{ cliente.razonSocial }}
        </td>
        <td class="none" style="width: 14%">
          {{ cliente.rfc }}
        </td>
        <td class="none" style="width: 14%">
          {{ cliente.telefono }}
        </td>
        <td class="none" style="width: 14%">
          {{ cliente.email }}
        </td>
        <td class="none" style="width: 15%">
          {{ cliente.representanteLegal }}
        </td>
        <td class="none" style="width: 14%">
          {{ cliente.formaPago }}
        </td>
        <td class="none" style="width: 14%">
          {{ cliente.direccion }}
        </td>
        <td class="none" style="width: 14%">
          {{ cliente.noExterior }}
        </td>
        <td class="none" style="width: 15%">
          {{ cliente.codigoPostal }}
        </td>
        <td scope="col" style="width: 230px">
          <div
            class="contenedor-acciones"
            style="display: flex; justify-content: center"
          >
            <button
              type="button"
              class="button-cloud-factura"
              (click)="obtenerinfocliente(cliente)"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="17"
                height="17"
                fill="currentColor"
                class="bi bi-cloud-upload-fill"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0m-.5 14.5V11h1v3.5a.5.5 0 0 1-1 0"
                />
              </svg>
            </button>
            <button
              class="button-cloud-factura"
              (click)="eliminarCliente(cliente.id)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-trash3-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"
                />
              </svg>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Formulario para Clientes -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Clientes</h1>
        <button
          type="button"
          class="btn-close"
          #btnCloseNuevaValidacion
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="mb-3 contenedor-input">
            <label for="razonSocial" class="col-form-label">Razón Social</label>
            <input
              formControlName="razonSocial"
              type="text"
              class="form-control form-control-sm input-color"
              id="razonSocial"
            />
          </div>
          <div class="mb-3 contenedor-input">
            <label for="rfc" class="col-form-label">RFC</label>
            <input
              formControlName="rfc"
              type="text"
              class="form-control form-control-sm input-color"
              id="rfc"
            />
          </div>
          <div class="mb-3 contenedor-input">
            <label for="email" class="col-form-label">Email</label>
            <input
              formControlName="email"
              type="text"
              class="form-control form-control-sm input-color"
              id="email"
            />
          </div>
          <div class="mb-3 contenedor-input">
            <label for="telefono" class="col-form-label">Teléfono</label>
            <input
              formControlName="telefono"
              type="text"
              class="form-control form-control-sm input-color"
              id="telefono"
            />
          </div>
          <div class="mb-3 contenedor-input">
            <label for="representanteLegal" class="col-form-label"
              >Representante Legal</label
            >
            <input
              formControlName="representanteLegal"
              type="text"
              class="form-control form-control-sm input-color"
              id="representanteLegal"
            />
          </div>
          <div class="mb-3 contenedor-input">
            <label for="formaPago" class="col-form-label">Forma de Pago</label>
            <input
              formControlName="formaPago"
              type="number"
              class="form-control form-control-sm input-color"
              id="formaPago"
            />
          </div>
          <div class="mb-3 contenedor-input">
            <label for="direccion" class="col-form-label">Direccion</label>
            <input
              formControlName="direccion"
              type="text"
              class="form-control form-control-sm input-color"
              id="direccion"
            />
          </div>
          <div class="mb-3 contenedor-input">
            <label for="noExterior" class="col-form-label"
              >Numero Exterior</label
            >
            <input
              formControlName="noExterior"
              type="text"
              class="form-control form-control-sm input-color"
              id="noExterior"
            />
          </div>
          <div class="mb-3 contenedor-input">
            <label for="codigoPostal" class="col-form-label"
              >Codigo Postal</label
            >
            <input
              formControlName="codigoPostal"
              type="text"
              class="form-control form-control-sm input-color"
              id="codigoPostal"
            />
          </div>
          <div class="mb-3 contenedor-input">
            <label for="idCuentaContable" class="col-form-label"
              >Cuenta Contable</label
            >
            <select
              formControlName="idCuentaContable"
              class="form-select form-select-sm input-color"
              id="idCuentaContable"
            >
              <option value="0" selected></option>
              <option
                *ngFor="let cuentaContable of cuentasContables"
                [value]="cuentaContable.id"
              >
                {{ cuentaContable.codigo }} / {{ cuentaContable.descripcion }}
              </option>
            </select>
          </div>
          <div class="mb-3 contenedor-input">
            <label for="idIvaTrasladado" class="col-form-label"
              >Cuenta IVA trasladado</label
            >
            <select
              formControlName="idIvaTrasladado"
              class="form-select form-select-sm input-color"
              id="idIvaTrasladado"
            >
              <option value="0" selected></option>
              <option
                *ngFor="let cuentaContable of cuentasContables"
                [value]="cuentaContable.id"
              >
                {{ cuentaContable.codigo }} / {{ cuentaContable.descripcion }}
              </option>
            </select>
          </div>
          <div class="mb-3 contenedor-input">
            <label for="idIvaPorTasladar" class="col-form-label"
              >Cuenta IVA por trasladar</label
            >
            <select
              formControlName="idIvaPorTrasladar"
              class="form-select form-select-sm input-color"
              id="idIvaPorTasladar"
            >
              <option value="0" selected></option>
              <option
                *ngFor="let cuentaContable of cuentasContables"
                [value]="cuentaContable.id"
              >
                {{ cuentaContable.codigo }} / {{ cuentaContable.descripcion }}
              </option>
            </select>
          </div>
          <div class="mb-3 contenedor-input">
            <label for="idCuentaAnticipos" class="col-form-label"
              >Cuenta anticipos</label
            >
            <select
              formControlName="idCuentaAnticipos"
              class="form-select form-select-sm input-color"
              id="idCuentaAnticipos"
            >
              <option value="0" selected></option>
              <option
                *ngFor="let cuentaContable of cuentasContables"
                [value]="cuentaContable.id"
              >
                {{ cuentaContable.codigo }} / {{ cuentaContable.descripcion }}
              </option>
            </select>
          </div>
          <div class="mb-3 cotenedor-input" style="margin-right: 3px">
            <label for="idIngresosIvaExento" class="col-form-label"
              >Cuenta ingresos IVA exento</label
            >
            <select
              formControlName="idIvaExento"
              class="form-select form-select-sm input-color"
              id="idIvaExento"
            >
              <option value="0" selected></option>
              <option
                *ngFor="let cuentaContable of cuentasContables"
                [value]="cuentaContable.id"
              >
                {{ cuentaContable.codigo }} / {{ cuentaContable.descripcion }}
              </option>
            </select>
          </div>
          <div class="mb-3 contenedor-input">
            <label for="idIngresosIvaGravable" class="col-form-label"
              >Cuenta IVA provisión</label
            >
            <select
              formControlName="idIvaGravable"
              class="form-select form-select-sm input-color"
              id="idIvaGravable"
            >
              <option value="0" selected></option>
              <option
                *ngFor="let cuentaContable of cuentasContables"
                [value]="cuentaContable.id"
              >
                {{ cuentaContable.codigo }} / {{ cuentaContable.descripcion }}
              </option>
            </select>
          </div>
          <div class="mb-3 contenedor-input">
            <label for="idRetensionIsr" class="col-form-label"
              >Cuenta Retención</label
            >
            <select
              formControlName="idRetensionIsr"
              class="form-select form-select-sm input-color"
              id="idRetensionIsr"
            >
              <option value="0" selected></option>
              <option
                *ngFor="let cuentaContable of cuentasContables"
                [value]="cuentaContable.id"
              >
                {{ cuentaContable.codigo }} / {{ cuentaContable.descripcion }}
              </option>
            </select>
          </div>
          <div class="mb-3 contenedor-input">
            <label for="idIeps" class="col-form-label">Cuenta IEPS</label>
            <select
              formControlName="idIeps"
              class="form-select form-select-sm input-color"
              id="idIeps"
            >
              <option value="0" selected></option>
              <option
                *ngFor="let cuentaContable of cuentasContables"
                [value]="cuentaContable.id"
              >
                {{ cuentaContable.codigo }} / {{ cuentaContable.descripcion }}
              </option>
            </select>
          </div>
          <div class="mb-3 contenedor-input">
            <label for="idIvaRetenido" class="col-form-label"
              >Cuenta IVA retenido</label
            >
            <select
              formControlName="idIvaRetenido"
              class="form-select form-select-sm input-color"
              id="idIvaRetenido"
            >
              <option value="0" selected></option>
              <option
                *ngFor="let cuentaContable of cuentasContables"
                [value]="cuentaContable.id"
              >
                {{ cuentaContable.codigo }} / {{ cuentaContable.descripcion }}
              </option>
            </select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn button-primary"
          data-bs-dismiss="modal"
          (click)="formClientes()"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
