<div class="px-2 py-2">
  <button
    type="button"
    (click)="onCancelar()"
    class="text-left text-sm hover:bg-gray-200 rounded-md transition-all delay-75 flex gap-2 items-center font-medium text-gray700 px-2 mb-3"
  >
    <img class="w-8" src="assets/go_back.svg" alt="Regresar" />
    Regresar
  </button>
  <div class="bg-white rounded-lg shadow-sm p-4">
    <div class="mb-3" *ngIf="idCliente != 0 || idProveedor != 0">
      <label class="block text-sm font-medium text-gray-700" for="almacen">Cuenta bancaria empresa</label>
      <select
        class="form-select mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        [(ngModel)]="movimientoBancario.idCuentaBancariaEmpresa"
      >
        <option class="text-gray-700" [ngValue]="0" disabled hidden>
          Selecciona una cuenta bancaria de empresa..
        </option>
        <option [ngValue]="cbe.id" *ngFor="let cbe of cuentaBE">
          {{ cbe.numeroCuenta + '(' + cbe.nombreBanco + ')' }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label class="block text-sm font-medium text-gray-700" for="almacen"
        >Tipo de beneficiario</label
      >
      <select
        class="form-select mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        [(ngModel)]="movimientoBancario.tipoBeneficiario"
        (ngModelChange)="onTipoBeneficiarioChange($event)"
        [disabled]="idCliente != 0 || idProveedor != 0"
      >
        <option [ngValue]="0" class="text-gray-700" disabled hidden>Selecciona un tipo..</option>
        <option [ngValue]="1">Proveedor</option>
        <option [ngValue]="2">Cliente</option>
        <option [ngValue]="3">Empresa</option>
        <option [ngValue]="4">Persona externa</option>
      </select>
    </div>
    <div class="mb-3" *ngIf="!seleccionaOtros">
      <label class="block text-sm font-medium text-gray-700" for="almacen">Beneficiario</label>
      <select
        class="form-select mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        [(ngModel)]="movimientoBancario.idBeneficiario"
        (ngModelChange)="onBeneficiarioChange($event)"
        [disabled]="idCliente != 0 || idProveedor != 0"
      >
        <option class="text-gray-700" [ngValue]="0" disabled hidden>
          Selecciona un beneficiario..
        </option>
        <option [ngValue]="b.id" *ngFor="let b of beneficiario">{{ b.razonSocial }}</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="block text-sm font-medium text-gray-700" for="almacen">Cuenta bancaria</label>
      <select
        class="form-select mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        [(ngModel)]="movimientoBancario.idCuentaBancaria"
      >
        <option class="text-gray-700" [ngValue]="0" disabled hidden>
          Selecciona una cuenta bancaria..
        </option>
        <option [ngValue]="cb.id" *ngFor="let cb of cuentaB">
          {{ cb.numeroCuenta + '(' + cb.nombreBanco + ')' }}
        </option>
      </select>
    </div>
    <div class="flex gap-3" *ngIf="tipoBeneficiario == 1">
      <div class="mb-3 flex gap-1">
        <input
          type="checkbox"
          name=""
          id=""
          [(ngModel)]="movimientoBancario.esFactura"
          (change)="esFactura()"
          class="w-4 h-4 text-blue-600 bg-gray-300 border-gray-300 focus:ring-blue-500"
        />
        <label class="block text-sm font-medium text-gray-700" for="almacen">Factura</label>
      </div>
      <div class="mb-3 flex gap-1">
        <input
          type="checkbox"
          name=""
          id=""
          [(ngModel)]="movimientoBancario.esOrdenCompra"
          (change)="esOrdenCompra()"
          class="w-4 h-4 text-blue-600 bg-gray-300 border-gray-300 focus:ring-blue-500"
        />
        <label class="block text-sm font-medium text-gray-700" for="almacen">Pedido</label>
      </div>
    </div>

    <div class="flex gap-3" *ngIf="tipoBeneficiario == 2">
      <div class="mb-3 flex gap-1">
        <input
          type="checkbox"
          name=""
          id=""
          [(ngModel)]="movimientoBancario.esFacturaOrdenVenta"
          (change)="esFacturaXOrdenVenta()"
          class="w-4 h-4 text-blue-600 bg-gray-300 border-gray-300 focus:ring-blue-500"
        />
        <label class="block text-sm font-medium text-gray-700" for="almacen">Factura</label>
      </div>
      <div class="mb-3 flex gap-1">
        <input
          type="checkbox"
          name=""
          id=""
          [(ngModel)]="movimientoBancario.esOrdenVenta"
          (change)="esOrdenVenta()"
          class="w-4 h-4 text-blue-600 bg-gray-300 border-gray-300 focus:ring-blue-500"
        />
        <label class="block text-sm font-medium text-gray-700" for="almacen">Orden venta</label>
      </div>
    </div>

    <div class="mb-3" *ngIf="movimientoBancario.esOrdenCompra">
      <div
        style="overflow-x: auto; white-space: nowrap; width: 100%; margin: 0 auto; margin-top: 0px"
      >
        <table
          class="table table-striped rounded table-hover orden tabla-detalle tabla-detalle-pagos"
        >
          <thead>
            <tr>
              <th class="cabecera1" scope="col"></th>
              <th class="cabecera1" scope="col">No. OC</th>
              <th class="cabecera1" scope="col">Monto a pagar</th>
              <th class="cabecera1" scope="col">Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let oc of movimientoBancario.ordenCompras">
              <th class="td-0" scope="col">
                <input
                  type="checkbox"
                  name=""
                  id=""
                  [(ngModel)]="oc.esSeleccionado"
                  (change)="recalculaTotalOrdenCompras()"
                  class="w-4 h-4 text-blue-600 bg-gray-300 border-gray-300 focus:ring-blue-500"
                />
              </th>
              <td class="td-0" scope="col">{{ oc.noOrdenCompra }}</td>
              <td class="td-0" scope="col">
                <input
                  type="number"
                  name=""
                  id=""
                  [(ngModel)]="oc.montoAPagar"
                  (keydown.enter)="recalculaTotalOrdenCompras()"
                />
              </td>
              <td class="td-0" scope="col">{{ oc.saldo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="mb-3" *ngIf="movimientoBancario.esFactura">
      <div
        style="overflow-x: auto; white-space: nowrap; width: 100%; margin: 0 auto; margin-top: 0px"
      >
        <table
          class="table table-striped rounded table-hover orden tabla-detalle tabla-detalle-pagos"
        >
          <thead>
            <tr>
              <th class="cabecera1" scope="col"></th>
              <th class="cabecera1" scope="col">Uuid</th>
              <th class="cabecera1" scope="col">Monto a pagar</th>
              <th class="cabecera1" scope="col">Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fxoc of movimientoBancario.facturasXOrdenCompra">
              <th class="td-0" scope="col">
                <input
                  type="checkbox"
                  name=""
                  id=""
                  [(ngModel)]="fxoc.esSeleccionado"
                  (change)="recalculaTotalFacturas()"
                  class="w-4 h-4 text-blue-600 bg-gray-300 border-gray-300 focus:ring-blue-500"
                />
              </th>
              <td class="td-0" scope="col">{{ fxoc.uuid }}</td>
              <td class="td-0" scope="col">
                <input
                  type="number"
                  name=""
                  id=""
                  [(ngModel)]="fxoc.montoAPagar"
                  (keydown.enter)="recalculaTotalFacturas()"
                />
              </td>
              <td class="td-0" scope="col">{{ fxoc.saldo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="mb-3" *ngIf="movimientoBancario.esOrdenVenta">
      <div
        style="overflow-x: auto; white-space: nowrap; width: 100%; margin: 0 auto; margin-top: 0px"
      >
        <table
          class="table table-striped rounded table-hover orden tabla-detalle tabla-detalle-pagos"
        >
          <thead>
            <tr>
              <th class="cabecera1" scope="col"></th>
              <th class="cabecera1" scope="col">No. OV</th>
              <th class="cabecera1" scope="col">Monto a pagar</th>
              <th class="cabecera1" scope="col">Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ov of movimientoBancario.ordenVentas">
              <th class="td-0" scope="col">
                <input
                  type="checkbox"
                  name=""
                  id=""
                  [(ngModel)]="ov.esSeleccionado"
                  (change)="recalculaTotalOrdenVentas()"
                  class="w-4 h-4 text-blue-600 bg-gray-300 border-gray-300 focus:ring-blue-500"
                />
              </th>
              <td class="td-0" scope="col">{{ ov.numeroOrdenVenta }}</td>
              <td class="td-0" scope="col">
                <input
                  type="number"
                  name=""
                  id=""
                  [(ngModel)]="ov.montoAPagar"
                  (keydown.enter)="recalculaTotalOrdenVentas()"
                />
              </td>
              <td class="td-0" scope="col">{{ ov.saldo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="mb-3" *ngIf="movimientoBancario.esFacturaOrdenVenta">
      <div
        style="overflow-x: auto; white-space: nowrap; width: 100%; margin: 0 auto; margin-top: 0px"
      >
        <table
          class="table table-striped rounded table-hover orden tabla-detalle tabla-detalle-pagos"
        >
          <thead>
            <tr>
              <th class="cabecera1" scope="col"></th>
              <th class="cabecera1" scope="col">Uuid</th>
              <th class="cabecera1" scope="col">Monto a pagar</th>
              <th class="cabecera1" scope="col">Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fxov of movimientoBancario.facturasXOrdenVenta">
              <th class="td-0" scope="col">
                <input
                  type="checkbox"
                  name=""
                  id=""
                  [(ngModel)]="fxov.esSeleccionado"
                  (change)="recalculaTotalFacturasXOrdenVenta()"
                  class="w-4 h-4 text-blue-600 bg-gray-300 border-gray-300 focus:ring-blue-500"
                />
              </th>
              <td class="td-0" scope="col">{{ fxov.uuid }}</td>
              <td class="td-0" scope="col">
                <input
                  type="number"
                  name=""
                  id=""
                  [(ngModel)]="fxov.montoAPagar"
                  (keydown.enter)="recalculaTotalFacturasXOrdenVenta()"
                />
              </td>
              <td class="td-0" scope="col">{{ fxov.saldo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex flex-row gap-2">
      <div class="w-full">
        <div class="mb-3">
          <label class="block text-sm font-medium text-gray-700" for="name">Folio</label>
          <input
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            type="text"
            id="persona"
            name="persona"
            placeholder="Escribe el nombre completo"
            [(ngModel)]="movimientoBancario.folio"
          />
        </div>
        <div class="mb-3">
          <label class="block text-sm font-medium text-gray-700" for="name"
            >Fecha de autorización</label
          >
          <input
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            type="date"
            id="persona"
            name="persona"
            placeholder="Escribe el nombre completo"
            [(ngModel)]="movimientoBancario.fechaAplicacion"
          />
        </div>
        <div class="mb-3">
          <label class="block text-sm font-medium text-gray-700" for="name">Fecha de cobro</label>
          <input
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            type="date"
            id="persona"
            name="persona"
            placeholder="Escribe el nombre completo"
            [(ngModel)]="movimientoBancario.fechaCobra"
          />
        </div>
        <div class="mb-3">
          <label class="block text-sm font-medium text-gray-700" for="almacen">Modalidad</label>
          <select
            class="form-select mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            [(ngModel)]="movimientoBancario.modalidad"
          >
            <option class="text-gray-700" value="0" disabled selected>
              Selecciona la modalidad..
            </option>
            <option [ngValue]="1">Cheque</option>
            <option [ngValue]="2">Transferencia</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="block text-sm font-medium text-gray-700" for="almacen">Tipo deposito</label>
          <select
            class="form-select mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            [(ngModel)]="movimientoBancario.tipoDeposito"
          >
            <option class="text-gray-700" value="0" disabled selected hidden>
              Selecciona el tipo..
            </option>
            <option [ngValue]="1">Deposito</option>
            <option [ngValue]="2">Retiro</option>
          </select>
        </div>
      </div>
      <div class="w-full">
        <div class="mb-3">
          <label class="block text-sm font-medium text-gray-700" for="almacen"
            >Tipo de moneda</label
          >
          <select
            class="form-select mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            [(ngModel)]="movimientoBancario.moneda"
          >
            <option class="text-gray-700" value="0" disabled selected>Selecciona el tipo..</option>
            <option [ngValue]="1">MXN</option>
            <option [ngValue]="2">USD</option>
            <option [ngValue]="3">EUR</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="block text-sm font-medium text-gray-700" for="name">Monto total</label>
          <input
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            type="number"
            id="persona"
            name="persona"
            [disabled]="movimientoBancario.esFactura || movimientoBancario.esOrdenCompra"
            placeholder="Escribe el nombre completo"
            [(ngModel)]="movimientoBancario.montoTotal"
          />
        </div>
        <div class="mb-3">
          <label class="block text-sm font-medium text-gray-700" for="almacen"
            >Tipo de cambio</label
          >
          <input
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            type="number"
            id="persona"
            name="persona"
            placeholder="Escribe el nombre completo"
            [(ngModel)]="movimientoBancario.tipoCambio"
          />
        </div>
        <div class="mb-3">
          <label class="block text-sm font-medium text-gray-700" for="name">Concepto</label>
          <input
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            type="text"
            id="persona"
            name="persona"
            placeholder="Escribe el nombre completo"
            [(ngModel)]="movimientoBancario.concepto"
          />
        </div>
      </div>
    </div>
    <div class="mt-6 flex justify-end gap-3">
      <button
        type="button"
        class="rounded-lg border bg-white border-gray300 px-4 py-2 text-sm font-medium text-gray600 hover:bg-gray100 transition"
        (click)="onCancelar()"
      >
        Cancelar
      </button>
      <button
        type="button"
        class="rounded-lg bg-colorButton px-4 py-2 text-sm font-semibold text-white hover:bg-hoverButton transition"
        (click)="guardarMovimientoBancario()"
      >
        Guardar
      </button>
    </div>
  </div>
</div>
