<!-- <button type="button" class="input-text btn-val" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
  style="margin-top: 10px; padding:0 10px;">Nuevo Banco</button> -->

<div class="flex ">
  <button (click)="openDialogWithoutRef()"
    class="bg-[#51aec7] hover:bg-hoverButton   titular items-center bg-custom-bg flex  font-bold tracking-wider  m-0 text-center rounded-lg mb-2">
    <p class=" text-[#f2f2f2] titular bg-custom-bg w-52  font-bold tracking-wider  m-0 text-center">
      Nuevo banco</p>
    <img src="assets/add.svg" alt="">
  </button>
</div>
<ng-template #dialogNuevoBanco>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto" (click)="limpiarFormulario()">
    <div class="content-center sm:flex min-h-full items-cen justify-center p-4 text-center sm:items-center sm:p-0">
      <!-- Evita que el clic se propague al contenedor padre (overlay) -->

      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-4xl"
        (click)="detenerCierre($event)">
        <!-- detenerCierre(event: MouseEvent): Método que detiene la propagación del evento de clic cuando se hace clic dentro del contenido del modal, asegurando que el modal no se cierre inadvertidamente. -->
        <div class="m-2 flex justify-between">
          <h2 class="font-normal tracking-[2px] leading-8  text-base">Nuevo banco</h2>
          <button type="button" class=" leading-none absolute top-0 right-0 px-4 py-3 text-2xl"
            (click)="limpiarFormulario()">&times;</button>

        </div>
        <div class="bg-white px-4 pb-4 sm:p-6 sm:pb-4">
          <div>
            <form [formGroup]="form">

              <div class="mb-3">
                <label class="block text-sm font-medium text-gray-700" for="name">Clave del SAT</label>
                <input
                  class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  type="text" id="persona" name="persona" placeholder="Escriba la clave del SAT" formControlName="clave" />
              </div>
              <div class="mb-3">
                <label class="block text-sm font-medium text-gray-700" for="name">Nombre</label>
                <input
                  class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  type="text" id="persona" name="persona" placeholder="Escriba el nombre" formControlName="nombre" />
              </div>
              <div class="mb-3">
                <label class="block text-sm font-medium text-gray-700" for="name">Razón social</label>
                <input
                  class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  type="text" id="persona" name="persona" placeholder="Escriba la razón social"
                  formControlName="razonsocial" />
              </div>

            </form>
          </div>
        </div>
        <div class="bg-gray-50 px-2 py-2 sm:flex sm:flex-row-reverse sm:px-6 sm:gap-4">
          <button
            class="bg-[#51aec7] hover:bg-[#002B53] text-[#f2f2f2]  py-2 px-4 rounded-sm mr-2 mt-3  inline-flex w-full justify-center shadow-sm ring-1 ring-inset  sm:mt-0 sm:w-auto"
            (click)="crearBanco()">Aceptar</button>
          <button
            class="mt-3 inline-flex w-full justify-center rounded-sm bg-[#51aec7] text-[#f2f2f2] px-3 py-2 text-sm shadow-sm ring-1 ring-inset  hover:bg-[#B05B5B] sm:mt-0 sm:w-auto  "
            (click)="limpiarFormulario()">Cancelar</button>
        </div>

      </div>
    </div>
  </div>

</ng-template>

<!-- <div class="filtro-2">
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Nuevo Banco</h1>
          <button type="button" class="btn-close" #btnCloseNuevaValidacion data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form">
            <div class="" style=" display: flex; flex-direction: column;">
              <label class="label-1" id="inputGroup-sizing-sm">Clave</label>
              <input formControlName="clave" type="text" class="input-1" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="" style=" display: flex; flex-direction: column;">
              <label class="label-1" id="inputGroup-sizing-sm">Nombre</label>
              <input formControlName="nombre" type="text" class="input-1" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="" style=" display: flex; flex-direction: column;">
              <label class="label-1" id="inputGroup-sizing-sm">Razón Social</label>
              <input formControlName="razonsocial" type="text" class="input-1" aria-describedby="inputGroup-sizing-sm">
            </div>
          </form>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn button-primary" data-bs-dismiss="modal"
            (click)="crearBanco()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="overflow-y-auto overflow-x-auto w-full rounded-lg shadow-md whitespace-nowrap mx-auto" >
  <table class="text-sm w-full mb-0">
    <thead class="bg-primario text-white">
      <tr>
        <th class="px-1 py-[2px] xs:w-[75px]" scope="col">Clave</th>
        <th class="px-1 py-[2px] xs:w-[75px]" scope="col">Nombre</th>
        <th class="px-1 py-[2px] xs:w-[75px]" scope="col">Razón social</th>
        <th class="px-1 py-[2px] xs:w-[75px]" scope="col" style="text-align: center;">Acciones</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="isLoading">
             <tr>
            <!-- Clave -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-22 xs:w-14 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Nombre -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-40 xs:w-24 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Razón Social -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-52 xs:w-24 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Acciones -->
            <td class="px-1" scope="col">
              <div role="status" class="flex align-items-center justify-center max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-14 xs:w-24 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
          </tr>
          <tr>
            <!-- Clave -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-22 xs:w-14 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Nombre -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-40 xs:w-24 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Razón Social -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-52 xs:w-24 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Acciones -->
            <td class="px-1" scope="col">
              <div role="status" class="flex align-items-center justify-center max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-14 xs:w-24 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
          </tr>
          <tr>
            <!-- Clave -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-22 xs:w-14 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Nombre -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-40 xs:w-24 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Razón Social -->
            <td class="px-1" scope="col">
              <div role="status" class="max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-52 xs:w-24 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
            <!-- Acciones -->
            <td class="px-1" scope="col">
              <div role="status" class="flex align-items-center justify-center max-w-sm animate-pulse">
                <div
                  class="h-5 bg-gray300 rounded-full w-14 xs:w-24 xs:h-3 mt-1 mb-1"
                ></div>
              </div>
            </td>
          </tr>
          </ng-container>
      <tr *ngFor="let b of banco" class="font-medium text-gray700 hover:bg-gray200 animation duration-200 xs:text-[8px]">
        <td class="" scope="col">{{ b.clave }}</td>
        <td class="" scope="col">{{ b.nombre }}</td>
        <td class="" scope="col">{{ b.razonSocial }}</td>
        <td scope="col" style="width: 230px;">
          <div class="contenedor-acciones gap-2" style=" display: flex; justify-content: center;">
            <!-- <button type="button" class="button-cloud-factura" (click)="obtenerinfobanco(b)" data-bs-toggle="modal"
              data-bs-target="#staticBackdrop">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor"
                class="bi bi-cloud-upload-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0m-.5 14.5V11h1v3.5a.5.5 0 0 1-1 0" />
              </svg>
            </button> -->
            <button placement="top" ngbTooltip="Editar" triggers="mouseenter:mouseleave"
                class="bg-[#51aec7] hover:bg-hoverButton   titular items-center bg-custom-bg flex  font-bold tracking-wider  m-0 text-center w-6  h-auto"
                (click)="obtenerinfobanco(b)">
                <svg fill="#f2f2f2" viewBox="-4 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                  stroke="#f2f2f2">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <title>edit</title>
                    <path
                      d="M17.438 22.469v-4.031l2.5-2.5v7.344c0 1.469-1.219 2.688-2.656 2.688h-14.625c-1.469 0-2.656-1.219-2.656-2.688v-14.594c0-1.469 1.188-2.688 2.656-2.688h14.844v0.031l-2.5 2.469h-11.5c-0.531 0-1 0.469-1 1.031v12.938c0 0.563 0.469 1 1 1h12.938c0.531 0 1-0.438 1-1zM19.813 7.219l2.656 2.656 1.219-1.219-2.656-2.656zM10.469 16.594l2.625 2.656 8.469-8.469-2.625-2.656zM8.594 21.094l3.625-0.969-2.656-2.656z">
                    </path>
                  </g>
                </svg>
              </button>
            <!-- <button class="button-cloud-factura" (click)="eliminarBanco(b.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path
                  d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
              </svg>
            </button> -->
            <button (click)="eliminarBanco(b.id)" ngbTooltip="Eliminar" placement="top" triggers="mouseenter:mouseleave"
                    class="bg-[#51aec7] hover:bg-hoverButton  h-auto titular items-center bg-custom-bg flex  font-bold tracking-wider  m-0 text-center"
                    >
                    <img  src="assets/borrar.svg" alt="">
                  </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>