 
td {
  border: .5px solid #b4b1b175;
  padding: 0 10px;
  height: 5px;
}
th {
  background-color: #21416e;
  height: 1px;
  color: #f2f2f2;
  border: 1px solid #4e4c4c54;
  padding: 0 10px;
}
.td-0 {
  padding: 0;
  background-color: #fffefe;
  border: .5px solid #ffffff85;
}

.button-filt {
  border: none;
  background-color: #4EAAC1;
  color: #f2f2f2;
  padding: 2px 10px;
  border-radius: 3px;
  text-align: center;
  margin: 0 10px;
}

.button-filt:hover {
  background-color: #002B53;
}

::ng-deep .tooltip {
  --bs-tooltip-bg: #d6d3d3 !important;
  --bs-tooltip-color: rgb(0, 0, 0) !important;
}
.btn-autorizar{
  transition-duration: 0.4s;
  background-color: #4eaac150;
  border: none;
  color: #020202;
  font-weight: 500;
  border-radius: 3px;
  font-size: 16px;
}
.btn-autorizar:hover{
  background-color: #4eaac150; /* Green */
color: #4EAAC1 ;
}
.container-button{
display: flex;
justify-content: end;

/* has que el contenedor suba el boton */

}
.estilo1{
background-color:  #4eaac138;
}
.background-color{
background-color: #b9dfe9;
}
.background-color td{
background-color: inherit;
}


.inputs-data{
display: flex;
justify-content: start;
align-items: center;
margin: 5px;
gap: 10px;
}


.labelProyecto {
background-color: #4EAAC1;
color: #f2f2f2;
/* margin-right: -4px; */
padding: 1px 20px;
border-start-start-radius: 5px;
border-end-start-radius: 5px;  
}

/* ///////data inputs */


/* body {
font-size:16px;
padding:3rem;
background:#f1f1f4;
} */

input[type="date"] {
display: block;
position: relative;

padding: 0.1rem 2rem 0.1rem 1rem;
font-size: 1rem;
border: 1px solid #8292a2;
border-radius: 0.25rem;
background: 
  #ffffff 
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E")
  right 1rem
  center
  no-repeat;
cursor: pointer;
height: 30px;
}

input[type="date"]:focus {
outline: none;
border-color: #b9dfe9;
box-shadow: 0 0 0 0.25rem rgba(0, 120, 250, 0.1);
}

::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover,
::-webkit-datetime-edit-year-field:hover {
background: rgba(0, 120, 250, 0.1);
}

::-webkit-clear-button,
::-webkit-inner-spin-button {
display: none;
}

::-webkit-calendar-picker-indicator {
position: absolute;
width: 100%; /* Ajusta el tamaño según sea necesario */
height: 100%; /* Ajusta el tamaño según sea necesario */
top: 0;
right: 0;
opacity: 0; /* Mantener oculto el icono por defecto */
cursor: pointer;
color: #51aec7;
background: #51aec7;
z-index: 1; /* Asegúrate de que esté por encima del fondo */
}

input[type="date"]:hover::-webkit-calendar-picker-indicator {
opacity: 0.05;
}

input[type="date"]:hover::-webkit-calendar-picker-indicator:hover {
opacity: 0.15;
}