::ng-deep .test.mat-mdc-list-base {
  padding: 0.8px !important;
}

*,
::after,
::before {
  box-sizing: unset;
}
.hidden {
  display: none !important;
}
.block {
  display: block !important;
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(29 84 151 / var(--tw-text-opacity));
}

button[mat-list-item]:focus {
  /* Anula el borde/resaltado que pone el navegador/Material */
  outline: none !important; 
  /* Asegúrate de que no se aplique ningún color de fondo persistente */
  background-color: transparent !important; 
}

/* Opcional: Esto evita que el botón mantenga el estado de "activo" (active/clicked) */
button[mat-list-item]:active {
  background-color: transparent !important; 
}

/* Anula el fondo del hover/focus que Material mantiene */
.mat-mdc-list-item:not(.active-button-class):not(.mat-list-item-disabled):focus::before,
.mat-mdc-list-item:not(.active-button-class):not(.mat-list-item-disabled):hover::before,
.mat-mdc-list-item:not(.active-button-class):not(.mat-list-item-disabled):active::before {
  /* La clase 'mat-mdc-list-item' usa un pseudo-elemento ::before para el fondo de interacción.
     Lo forzamos a ser transparente. */
  background-color: transparent !important;
}

/* También necesitamos anular el color del texto que Material pone en foco */
.mat-mdc-list-item:focus {
  /* Esto elimina cualquier cambio de color de texto/ícono que Material ponga */
  color: unset !important; 
}
