<div
  [style.width.px]="sideNavState ? 209 : 65"
  *ngIf="!isMobile || (isMobile && sideNavState)"
  [@onSideNavChange]="sideNavState ? 'open' : 'close'"
>
  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%">
    <div class="user_menu">
      <!-- Menú -->
      <div>
        <mat-nav-list>
          <div>
            <ng-container *ngFor="let page of pagesFiltradas">
              <button
                [disabled]="isLoading"
                mat-list-item
                (click)="
                  toggleNestedPages(page);
                  onSinenavToggleOpen.emit();
                  sideNavState = true;
                  linkText = true
                "
              >
                <div class="flex justify-between items-center">
                  <ng-container *ngIf="page.imageUrl; else iconTemplate">
                    <img
                      class="w-8 h-8"
                      [src]="page.imageUrl"
                      alt="{{ page.name }}"
                      [ngbTooltip]="sideNavState ? '' : 'Menu ' + page?.name"
                      triggers="mouseenter:mouseleave"
                      container="body"
                      placement="end"
                    />
                  </ng-container>
                  <ng-template #iconTemplate>
                    <mat-icon class="pr-1 bg-primario">{{ page.icon }}</mat-icon>
                  </ng-template>
                  <div class="text-gray-400 flex w-full justify-between text-xs items-center">
                    <div [@animateText]="linkText ? 'show' : 'hide'" class="pl-1">
                      {{ page.name }}
                    </div>
                    <div [@animateText]="linkText ? 'show' : 'hide'">
                      <mat-icon>
                        {{ page.expanded ? 'expand_less' : 'expand_more' }}
                      </mat-icon>
                    </div>
                  </div>
                </div>
              </button>
              <!-- Lista anidada -->
              <ng-container *ngIf="page.nestedPages && page.expanded && sideNavState">
                <div class="mt-2 mb-2 ml-4 border-l-2 border-gray-400">
                  <button
                    [disabled]="isLoading"
                    (click)="title(nestedPage)"
                    mat-list-item
                    *ngFor="let nestedPage of page.nestedPages"
                    [routerLink]="nestedPage.link"
                  >
                    <div class="flex items-center">
                      <!-- <ng-container
                    *ngIf="nestedPage.imageUrl; else nestedIconTemplate"
                  >
                    <img
                      [ngbTooltip]="sideNavState ? '' : nestedPage?.name"
                      triggers="mouseenter:mouseleave"
                      container="body"
                      placement="end"
                      [src]="nestedPage.imageUrl"
                      alt="{{ nestedPage.name }}"
                      class="w-8 h-8 pr-1"
                    />
                  </ng-container>
                  <ng-template #nestedIconTemplate>
                    <mat-icon
                      class="pr-1 bg-primario"
                      [ngbTooltip]="sideNavState ? '' : nestedPage?.name"
                      triggers="mouseenter:mouseleave"
                      container="body"
                      placement="end"
                      >{{ nestedPage?.icon }}</mat-icon
                    >
                  </ng-template> -->
                      <span
                        class="text-gray-400 text-xs"
                        [@animateText]="linkText ? 'show' : 'hide'"
                        >{{ nestedPage.name }}</span
                      >
                    </div>
                  </button>
                </div>
              </ng-container>
              <!-- Lista anidada end -->
            </ng-container>
          </div>
        </mat-nav-list>
      </div>
      <!-- Menú end -->
    </div>
  </div>

  <!-- <div *ngIf="!isLoading">
  <ng-lottie
    [styles]="{ width: '60px', height: '300px' }"
    [options]="{
      path: 'assets/dots.json',
      renderer: 'svg',
      loop: true,
      autoplay: true
    }"
  ></ng-lottie>
</div> -->
</div>
