<div class="fixed inset-0 z-10 w-screen overflow-y-auto" (click)="cerrar()">
    <div class="content-center sm:flex min-h-full items-cen justify-center p-4 text-center sm:items-center sm:p-0" (click)="onContainerClick($event)">
        <!-- Evita que el clic se propague al contenedor padre (overlay) -->

        <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-4xl"
            (click)="detenerCierre($event)">
            <!-- detenerCierre(event: MouseEvent): Método que detiene la propagación del evento de clic cuando se hace clic dentro del contenido del modal, asegurando que el modal no se cierre inadvertidamente. -->
            <div class="m-2 flex justify-between">
                <h2 class="font-normal tracking-[2px] leading-8  text-base">Indirectos Concepto</h2>
                <button type="button" class=" leading-none absolute top-0 right-0 px-4 py-3 text-2xl"
                    (click)="cerrar()">&times;</button>

            </div>
            <div class="bg-white px-4 pb-4 sm:p-6 sm:pb-4">
                <div>
                    <div class="flex gap-2" *ngIf="!existenIndirectos && !existenEstimaciones">
                        <div class="flex items-end">
                            <button (click)="NuevosIndirectos()"
                                class=" bg-colorButton  hover:bg-hoverButton titular items-center bg-custom-bg flex  font-bold tracking-wider  m-0 text-center rounded-md mb-1">
                                <p
                                    class=" text-[#f2f2f2] titular bg-custom-bg w-52  font-bold tracking-wider  m-0 text-center">
                                    Nuevos Indirectos</p>
                                <img src="assets/add.svg" alt="">
                            </button>
                        </div>
                    </div>
                    <div
                        class="overflow-y-auto max-h-[300px] w-full m-[0px auto] overflow-x-auto whitespace-nowrap rounded-lg shadow-md">
                        <table class="w-full text-sm">
                            <thead class="bg-primario text-white sticky top-0">
                                <tr>
                                    <th class="px-1 py-[2px]" scope="col">Indirecto</th>
                                    <th class="px-1 py-[2px]" scope="col">Porcentaje</th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray300">
                                <tr class="font-medium text-gray700 hover:bg-gray200 animation duration-200 xs:text-[8px]">
                                    <td scope="col">Costo Directo</td>
                                    <td scope="col" class="text-end">
                                        {{PU.costoUnitarioConFormato}}
                                    </td>
                                </tr>
                                <tr class="font-medium text-gray700 hover:bg-gray200 animation duration-200 xs:text-[8px]">
                                    <td scope="col">Indirecto Particular</td>
                                    <td scope="col">
                                        <input autocomplete="off" type="number" class="w-full bg-transparent text-end" [disabled]="existenEstimaciones"
                                            id="input-table" *ngIf="PUEditando" [(ngModel)]="PU.porcentajeIndirecto"
                                            (keydown.enter)="ediatarIndirectoPrecioUnitario()">
                                        <input autocomplete="off" type="text" class="w-full bg-transparent text-end"
                                            id="input-table" *ngIf="!PUEditando"
                                            [(ngModel)]="porcentajeRealConFormato" (click)="edicion()" readonly>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="existenIndirectos" (click)="detenerCierre($event)">
                        <div class="overflow-y-auto max-h-[300px] w-full m-[0px auto] overflow-x-auto whitespace-nowrap rounded-lg shadow-md">
                            <table class="w-full text-sm" style="height: 0px;">
                                <thead class="bg-primario text-white sticky top-0">
                                    <th class="px-1 py-[2px]" style="width: 5%;">-</th>
                                    <th class="px-1 py-[2px]" style="width: 15%;">Código</th>
                                    <th class="px-1 py-[2px]" style="width: 70%;">Descripción</th>
                                    <th class="px-1 py-[2px]" style="width: 10%;">Porcentaje</th>
                                </thead>
                            </table>
                        </div>
                        <div style="overflow-y: auto; white-space: nowrap; margin: 0 auto; cursor: pointer; max-height: 200px;"
                            class="floating-window" class="resizable-container ">
                            <tree-view [treeData]="indirectos">
                                <ng-template let-indirecto>
                                    <table class="table-striped table-hover table-arbol">
                                        <tbody>
                                            <tr [ngClass]="{
                                                'colorNivel1' :indirecto.nivel == 1,
                                                'colorNivel2' :indirecto.nivel == 2,
                                                'colorNivel3' :indirecto.nivel == 3,
                                                'colorNivel4' :indirecto.nivel == 4,
                                                'colorNivel5' :indirecto.nivel == 5,
                                                'colorNivel6' :indirecto.nivel == 6,
                                                'colorNivel7' :indirecto.nivel == 7,
                                              }"
                                              >
                                                <td style="width: 5%; border-right: 1px solid #f2f2f217;"
                                                    class="cont-drill" (click)="seleccionar(indirecto)">
                                                    <div class="contenedores" style="display: flex;">
                                                        <div *ngIf="indirecto.hijos.length > 0">
                                                            <mat-icon class="test"
                                                                (click)="expansionDominio(indirecto)">
                                                                {{indirecto.expandido ? ' expand_more' : 'chevron_right'
                                                                }}
                                                            </mat-icon>
                                                        </div>
                                                        <div *ngIf="indirecto.hijos.length == 0">
                                                            <button class="button-accion bg-transparent"
                                                                style="width: 5px;"></button>
                                                        </div>
                                                        <div>
                                            <tr>
                                                <td>
                                                    <div class="dropdown-menu-container" >
                                                        <button (click)="toggleDropdown(indirecto, $event)" *ngIf="!existenEstimaciones"
                                                            class="inline-flex items-center p-1 text-md font-medium text-center text-gray-900 rounded-lg"
                                                            type="button">
                                                            <svg class="w-3 h-3" aria-hidden="true"
                                                                xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                                viewBox="0 0 4 15">
                                                                <path
                                                                    d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
                                                            </svg>
                                                        </button>
                                                        <ul *ngIf="openDropdownId === indirecto.id"
                                                            class="cursor-pointer dropdown-menu text-sm text-[#000000DE] dark:text-gray-200">
                                                            <li class="cursor-pointer">
                                                                <a (click)="crearIndirectoMismoNivel(indirecto)"
                                                                    *ngIf="indirecto.idIndirectoBase != 0"
                                                                    class="cursor-auto dropdown-item block px-4 py-2 hover:bg-gray-100 hover:bg-[#4eaac154] hover:text-[#000000DE]">
                                                                    Mismo nivel
                                                                </a>
                                                                <a (click)="crearIndirectoSubnivel(indirecto)"
                                                                    class="cursor-auto dropdown-item block px-4 py-2 hover:bg-gray-100 hover:bg-[#4eaac154] hover:text-[#000000DE]">
                                                                    Subnivel
                                                                </a>
                                                                <a (click)="eliminarIndirecto(indirecto)"
                                                                    *ngIf="indirecto.idIndirectoBase != 0 && indirecto.hijos.length <= 0"
                                                                    class="cursor-auto dropdown-item block px-4 py-2 hover:bg-gray-100 hover:bg-[#4eaac154] hover:text-[#000000DE]">
                                                                    Eliminar
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                        </div>
                    </div>
                    </td>
                    <td style="border-right: 1px solid #3f3e3e17; border-right: 1px solid #f2f2f217; width: 15%;"
                        class="cont-drill" (click)="seleccionar(indirecto)" [ngClass]="{
                            'paddingNivel1' :indirecto.nivel == 1,
                            'paddingNivel2' :indirecto.nivel == 2,
                            'paddingNivel3' :indirecto.nivel == 3,
                            'paddingNivel4' :indirecto.nivel == 4,
                            'paddingNivel5' :indirecto.nivel == 5,
                            'paddingNivel6' :indirecto.nivel == 6,
                            'paddingNivel7' :indirecto.nivel == 7,
                          }">
                        <input autocomplete="off" type="text" class="" id="input-table" [(ngModel)]="indirecto.codigo"
                            class="bg-transparent"
                            [disabled]="existenEstimaciones"
                            [readonly]="indirecto.idIndirectoBase == 0 || indirecto.hijos.length > 0"
                            (keydown.enter)="crear(indirecto)"
                            style="border: .5px solid #ffffff4d; border-radius: 3px; width: 100%;">
                    </td>
                    <td style="border-right: 1px solid #3f3e3e17; border-right: 1px solid #f2f2f217; width: 70%;"
                        class="cont-drill" (click)="seleccionar(indirecto)">
                        <input autocomplete="off" type="text" class="" id="input-table" class="bg-transparent"
                            [(ngModel)]="indirecto.descripcion"
                            [disabled]="existenEstimaciones"
                            [readonly]="indirecto.idIndirectoBase == 0 || indirecto.hijos.length > 0"
                            (keydown.enter)="crear(indirecto)"
                            style="border: .5px solid #ffffff4d; border-radius: 3px; width: 100%;">
                    </td>
                    <td style="border-right: 1px solid #3f3e3e17; border-right: 1px solid #f2f2f217; width: 10%;"
                        class="cont-drill" (click)="seleccionar(indirecto)">
                        <input autocomplete="off" type="text" class="" id="input-table" class="bg-transparent"
                            [(ngModel)]="indirecto.porcentaje"
                            [disabled]="existenEstimaciones"
                            [readonly]="indirecto.idIndirectoBase == 0 || indirecto.hijos.length > 0"
                            (keydown.enter)="crear(indirecto)"
                            style="border: .5px solid #ffffff4d; border-radius: 3px; width: 100%;">
                    </td>
                    </tr>
                    </tbody>
                    </table>
                    </ng-template>
                    </tree-view>
                </div>
            </div>


        </div>
    </div>
    <div class="bg-gray-50 px-2 py-2 sm:flex sm:flex-row-reverse sm:px-6 sm:gap-4">
        <button
            class="bg-[#51aec7] hover:bg-[#002B53] text-[#f2f2f2]  py-2 px-4 rounded-sm mr-2 mt-3  inline-flex w-full justify-center shadow-sm ring-1 ring-inset  sm:mt-0 sm:w-auto"
            (click)="cerrar()">Aceptar</button>
    </div>
</div>
</div>
</div>
