.td-0 {
  padding: 0;
  background-color: #fffefe;
  border: 0.5px solid #ffffff85;
}

.button-filt {
  border: none;
  background-color: #4eaac1;
  color: #f2f2f2;
  padding: 2px 10px;
  border-radius: 3px;
  text-align: center;
  margin: 0 10px;
}

.button-filt:hover {
  background-color: #002b53;
}

::ng-deep .tooltip {
  --bs-tooltip-bg: #d6d3d3 !important;
  --bs-tooltip-color: rgb(0, 0, 0) !important;
}
.btn-autorizar {
  transition-duration: 0.4s;
  background-color: #4eaac150;
  border: none;
  color: #020202;
  font-weight: 500;
  border-radius: 3px;
  font-size: 16px;
}
.btn-autorizar:hover {
  background-color: #4eaac150; /* Green */
  color: #4eaac1;
}
.container-button {
  display: flex;
  justify-content: end;

  /* has que el contenedor suba el boton */
}
.estilo1 {
  background-color: #4eaac138;
}

.change-background-color {
  background-color: #b9dfe9;
}
.change-background-color td {
  background-color: inherit;
}
