
.cont-empresas {
  background-color: #b5dce02d;
  padding: 5px;
  border-radius: 7px;
}

.cont-input {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
  background-color: #b5dce02d;
  padding: 5px;
  border-radius: 7px;
  height: 55px;
  margin-top: 10px;
}

.cont-input input {
  text-align: center;
  margin-left: 10px;
  border-radius: 7px;
  border: none;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #093446;
  width: 98%;
  height: 80px;
  margin: 10px auto;
  padding: 0 20px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.32);
  position: static;
}

.img-teckio {
  width: 170px;
}

.button-menu {
  background-color: #093446;
    margin-left: 20px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(171, 216, 222, 0.32);
    -moz-box-shadow: 0px 4px 5px 0px rgba(171, 216, 222, 0.32);
    box-shadow: 0px 4px 5px 0px rgba(171, 216, 222, 0.32);
    padding: 5px;
    border-radius: 7px;
    text-decoration: none;
    color: #ABD8DE;
    border: none;
}

.button-menu:hover{
    background-color: #2ac3ff;
    color: #00161F;
}

.user-name {
  color: #f2f2f2;
  margin-right: 10px;
}

.Logout {
  color: #f2f2f2;
  text-decoration: none;
    padding: 5px;
}

.Logout:hover {
  background-color: #2ac3ff;
  border-radius: 7px;
}

.button-login {
  text-decoration:  none;
  color: #ABD8DE;
  margin-left: 10px;
}

.button-login:hover {
  color:#2ac3ff ;
}
.shadow-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 3px;
  background-color: #b9dfe9;
  margin-right: 10px;
  font-weight: 500;
  height: 25px;
 }

 .shadow-form:hover {
  background-color: #4EAAC1;
  color: #f2f2f2;
 }
 .input-1 {
  border: none;
  margin-right: 5px;
  border-radius: 3px;
  padding: 2px;
  background-color:  #d3d9e263;
}
.label-1 {
  border-bottom: 2px solid #b9dfe9;
  margin-right: 5px;
  border-radius: 3px;
  margin-bottom: 3px;
}
