<div class="fixed inset-0 z-10 w-screen overflow-y-auto" (click)="cerrar()">
  <div class="content-center sm:flex min-h-full items-cen justify-center p-4 text-center sm:items-center sm:p-0">
    <!-- Evita que el clic se propague al contenedor padre (overlay) -->

    <div
      class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-4xl"
      (click)="detenerCierre($event)">
      <!-- detenerCierre(event: MouseEvent): Método que detiene la propagación del evento de clic cuando se hace clic dentro del contenido del modal, asegurando que el modal no se cierre inadvertidamente. -->
      <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
        <div>
          <div *ngIf="errorGlobal" class="text-red-500 text-sm mb-2">
            *Capure todos los campos
          </div>
          <form action="" method="post" [formGroup]="form" class="mb-4">
            <div class="flex gap-4">
              <div class="w-full">
                <div class="mb-3">
                  <label class="block text-sm font-medium text-gray-700" for="name">Nombre</label>
                  <input
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    (change)="errorNo = false; errorGlobal = false;"
                    type="text" name="name" id="name" formControlName="nombre" />
                    <div *ngIf="errorNo" class="text-red-500 text-sm mb-2">
                      *El campo 'Nombre' es requerido
                    </div>
                </div>
                <div class="mb-3">
                  <label class="block text-sm font-medium text-gray-700" for="name">Apellido paterno</label>
                  <input
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    type="text" name="name" id="name" formControlName="apellidoPaterno" 
                    (change)="errorAP = false; errorGlobal = false;"
                    />
                    <div *ngIf="errorAP" class="text-red-500 text-sm mb-2">
                      *El campo 'Apellido paterno' es requerido
                    </div>
                </div>
                <div class="mb-3">
                  <label class="block text-sm font-medium text-gray-700" for="name">Apellido materno</label>
                  <input
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    type="text" name="name" id="name" formControlName="apellidoMaterno"
                    (change)="errorAM = false; errorGlobal = false;"
                     />
                    <div *ngIf="errorAM" class="text-red-500 text-sm mb-2">
                      *El campo 'Apellido materno' es requerido
                    </div>
                </div>
                <div class="mb-3">
                  <label class="block text-sm font-medium text-gray-700" for="name">CURP</label>
                  <input
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    type="text" name="name" id="name" formControlName="curp" appUppercaseInput maxlength="18"
                    (change)="errorCURP.estatus= false; errorGlobal = false;" />
                    <div *ngIf="errorCURP.estatus" class="text-red-500 text-sm mb-2">
                      *{{errorCURP.descripcion}}
                    </div>
                </div>
                <div class="mb-3">
                  <label class="block text-sm font-medium text-gray-700" for="name">RFC</label>
                  <input
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    type="text" name="name" id="name" formControlName="rfc" appUppercaseInput maxlength="13"
                    (change)="errorRFC.estatus= false; errorGlobal = false;" />
                    <div *ngIf="errorRFC.estatus" class="text-red-500 text-sm mb-2">
                      *{{errorRFC.descripcion}}
                    </div>
                </div>
              </div>
              <div class="w-full">
                <div class="mb-3">
                  <label class="block text-sm font-medium text-gray-700" for="name">Seguro social</label>
                  <input
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    type="text" name="name" id="name" formControlName="seguroSocial" maxlength="20"
                    (change)="errorSS.estatus= false; errorGlobal = false;" />
                    <div *ngIf="errorSS.estatus" class="text-red-500 text-sm mb-2">
                      *{{errorSS.descripcion}}
                    </div>
                </div>
                <div class="mb-3">
                  <label class="block text-sm font-medium text-gray-700" for="name">Relación laboral</label>
                  <input
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    type="date" name="fecha" id="fecha" formControlName="fechaRelacionLaboral"
                    (change)="errorFRL = false; errorGlobal = false;" />
                    <div *ngIf="errorFRL" class="text-red-500 text-sm mb-2">
                      *El campo 'Relación laboral' es requerido
                    </div>
                </div>
                <div class="mb-3">
                  <label class="block text-sm font-medium text-gray-700" for="name">Termino relación laboral</label>
                  <input
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    type="date" name="name" id="name" formControlName="fechaTerminoRelacionLaboral" 
                    (change)="errorFTRL = false; errorGlobal = false;"/>
                    <div *ngIf="errorFTRL" class="text-red-500 text-sm mb-2">
                      *El campo 'Termino relación laboral' es requerido
                    </div>
                </div>
                <div class="mb-3">
                  <label class="block text-sm font-medium text-gray-700" for="name">Salario diario</label>
                  <input
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    type="text" name="name" id="name" formControlName="salarioDiario"
                    (change)="errorSD = false; errorGlobal = false;" />
                    <div *ngIf="errorSD" class="text-red-500 text-sm mb-2">
                      *El campo 'Salario diario' no puede ser 0 o un número negativo
                    </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="bg-gray-50 px-2 py-2 sm:flex sm:flex-row-reverse sm:px-6 sm:gap-4">
        <button
          class="bg-[#51aec7] hover:bg-[#002B53] text-[#f2f2f2]  py-2 px-4 rounded-sm mr-2 mt-3  inline-flex w-full justify-center shadow-sm ring-1 ring-inset  sm:mt-0 sm:w-auto"
          (click)="validacionCampos()">Aceptar</button>
        <button
          class="mt-3 inline-flex w-full justify-center rounded-sm bg-[#51aec7] text-[#f2f2f2] px-3 py-2 text-sm shadow-sm ring-1 ring-inset  hover:bg-[#B05B5B] sm:mt-0 sm:w-auto  "
          (click)="cerrar()">Cancelar</button>
      </div>
    </div>
  </div>
</div>